---
title: About
react: true
inlineCritical: true
criticalPartial: _critical-default
---

<!-- Banner/Tab Intro -->
{{> banner}}

<!-- Grid with inlined details panel (4 column grid) -->
<div id="details-grid" class="mobile-limit" data-heading="Key people" data-primarystyles="details-grid col4 no-bot-pad marginbot0" data-secondarystyles="img-wrapper-square circle" data-feed="/feeds/people.json" data-readmore-label="Read more">
	<!-- Add any React generated classes here so that PurifyCSS doesn't remove them -->
	<span class="react-anim-accordion-enter react-anim-accordion-enter-active react-anim-accordion-leave react-anim-accordion-leave-active"></span>
</div>
<button class="btn btn-primary marginbot2 button-reset mobile-only grid-btn" data-type="load-more" data-event-category="CTA mobile" data-event-action="Key people load more">Load more</button>
<hr>

<!-- Awards (4 column grid) -->
<section class="awards col4 container no-bot-pad">
	<h2>Awards</h2>
	{{> awards}}
	<button class="btn btn-primary marginbot2 button-reset mobile-only" data-type="load-more" data-event-category="CTA mobile" data-event-action="Awards load more">Load more</button>
</section>
<hr>

<!-- Logos (5 column grid) -->
<section class="logos container">
	<h2>Clients</h2>
	{{> logos}}
</section>

<section class="container text-center bg-grey footer-cta posrel">
	{{> cta-signup-contact}}
</section>