---
title: Article
twitterIntents: true
inlineCritical: true
criticalPartial: _critical-article
---

<!-- Banner/Tab Intro -->
<article class="no-pad no-mar has-author">
	<div class="img-container oflow-hidden desktop">
		<div style="background-image:url(/images/woman-holding-snowglobe.jpg)">
			<div class="ratio"></div>
		</div>
	</div>
	<div class="img-container mobile">
		<div style="background-image:url(/images/woman-holding-snowglobe-mobile.jpg)" class="ratio"></div>
	</div>
	<div class="tab box-size">
		<div class="container max1000 no-side-pad headline-text-small">
			<span class="block text-center text-upper padtop05 padbot1 colour-d primary-font">Cape Town</span>
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h1>
			{{> share-buttons}}
		</div>
	</div>
	<div class="posrel container box-size no-side-pad">
		<section class="margin-auto max1000 box-size narrower padleft1 padright1 cms">
			<p>Blandit lorem lobortis ac. Nam ullamcorper, dolor at eleifend convallis, augue augue auctor ligula, quis vulputate lorem
				est quis enim. Duis orci nisl, faucibus eu elementum vel, aliquam aliquet arcu. Donec fringilla elementum rutrum. Cras
				rhoncus, sapien non mattis pretium, elit turpis lobortis ligula, sed molestie felis ligula sit amet enim. Vestibulum
				ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
			<p>Nulla feugiat metus vitae convallis venenatis. In vel tortor risus. Nam ultricies dui id quam ultrices hendrerit. Ut quis
				felis vitae neque imperdiet suscipit eu non mauris. Duis et feugiat felis. Donec quis ipsum dictum, fermentum nunc quis,
				pulvinar mauris. Duis nec nunc ut tortor pharetra dignissim id vitae neque. Mauris rhoncus orci sit amet ligula tristique,
				molestie posuere urna congue. Suspendisse potenti. Morbi blandit, enim vitae varius dignissim, leo purus rhoncus enim,
				eget vehicula ante nunc id nibh. Maecenas accumsan eros metus, et lobortis tortor maximus nec.</p>
		</section>

		<figure class="no-mar oflow-hidden posrel">
			<img src="/images/1366x768.png" srcset="/images/1366x768.png 1366w, /images/720x405.png 720w" sizes="(max-width: 720px) 50vw, 100vw">
			<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit</figcaption>
		</figure>

		<section class="margin-auto max1000 box-size narrower padleft1 padright1 cms">
			<p>Blandit lorem lobortis ac. Nam ullamcorper, dolor at eleifend convallis, augue augue auctor ligula, quis vulputate lorem
				est quis enim. Duis orci nisl, faucibus eu elementum vel, aliquam aliquet arcu. Donec fringilla elementum rutrum. Cras
				rhoncus, sapien non mattis pretium, elit turpis lobortis ligula, sed molestie felis ligula sit amet enim. Vestibulum
				ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
			<p>Nulla feugiat metus vitae convallis venenatis. In vel tortor risus. Nam ultricies dui id quam ultrices hendrerit. Ut quis
				felis vitae neque imperdiet suscipit eu non mauris. Duis et feugiat felis. Donec quis ipsum dictum, fermentum nunc quis,
				pulvinar mauris. Duis nec nunc ut tortor pharetra dignissim id vitae neque. Mauris rhoncus orci sit amet ligula tristique,
				molestie posuere urna congue. Suspendisse potenti. Morbi blandit, enim vitae varius dignissim, leo purus rhoncus enim,
				eget vehicula ante nunc id nibh. Maecenas accumsan eros metus, et lobortis tortor maximus nec.</p>
		</section>

		<aside>
			<img src="https://via.placeholder.com/250" width="125" height="125" alt="Robin Barnes" class="circle marginbot1">
			<address>
				<div class="marginbot1">
					<strong>Robin Barnes</strong>
					<br> Digital Director
					<br>
				</div>
				Articles by
				<br>
				<a rel="author" href="#a" class="tag font90 margintop0-5">Robin Barnes</a>
			</address>
		</aside>
	</div>

	<footer class="container max1000 padbot2">
		{{> share-buttons}} {{> photo-credits}} {{> page-tags}}
	</footer>
</article>

<section class="col4-one-row bg-grey articles-list no-mar">
	<h2 class="no-mar">You may also like</h2>
	<ul class="no-pad flex frow fwrap fjustcntr margintop1-5 margin-auto">
		<li class="col flex box-size padleft05 padright05 marginbot1">
			<a href="#a" class="flex fcol text-center">
				<div class="img-wrapper-16-9 oflow-hidden">
					<div class="img-zoom" style="background-image:url(/images/307x173.png)"></div>
				</div>
				<div class="pad1 flex fgrow1 fcol">
					<span class="colour-d text-upper primary-font font80 letter-spacing block padbot05">News</span>
					<strong class="webfont-secondary black block padbot05 fgrow1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>
					<div class="btn-more">
						<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
					</div>
				</div>
			</a>
		</li>
		<li class="col flex box-size padleft05 padright05 marginbot1">
			<a href="#a" class="flex fcol text-center">
				<div class="img-wrapper-16-9 oflow-hidden">
					<div class="img-zoom" style="background-image:url(/images/307x173.png)"></div>
				</div>
				<div class="pad1 flex fgrow1 fcol">
					<span class="colour-d text-upper primary-font font80 letter-spacing block padbot05">Views</span>
					<strong class="webfont-secondary black block padbot05 fgrow1">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</strong>
					<div class="btn-more">
						<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
					</div>
				</div>
			</a>
		</li>
		<li class="col flex box-size padleft05 padright05 marginbot1">
			<a href="#a" class="flex fcol text-center">
				<div class="img-wrapper-16-9 oflow-hidden">
					<div class="img-zoom" style="background-image:url(/images/307x173.png)"></div>
				</div>
				<div class="pad1 flex fgrow1 fcol">
					<span class="colour-d text-upper primary-font font80 letter-spacing block padbot05">News</span>
					<strong class="webfont-secondary black block padbot05 fgrow1">Ut enim ad minim veniam, quis nostrud exercitation ullamco</strong>
					<div class="btn-more">
						<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
					</div>
				</div>
			</a>
		</li>
		<li class="col flex box-size padleft05 padright05 marginbot1">
			<a href="#a" class="flex fcol text-center">
				<div class="img-wrapper-16-9 oflow-hidden">
					<div class="img-zoom" style="background-image:url(/images/307x173.png)"></div>
				</div>
				<div class="pad1 flex fgrow1 fcol">
					<span class="colour-d text-upper primary-font font80 letter-spacing block padbot05">Research</span>
					<strong class="webfont-secondary black block padbot05 fgrow1">Laboris nisi ut aliquip ex ea commodo consequat</strong>
					<div class="btn-more">
						<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</section>

<section class="no-mar">
	<a href="#a" class="btn btn-primary">Back to menu</a>
</section>

{{> cta-social}}