---
title: Case Study
shortTitle: Case Study
subTitle: Lorem ipsum dolor sit amet, consectetur adipisicing elit
clea: true
react: true
slick: true
inlineCritical: true
criticalPartial: _critical-casestudy
---

<!-- Banner/Tab Intro -->
<section class="no-pad">
	{{> banner-with-logo}}
</section>

<section class="padtop2 padbot3 marginbot0 mob-pad cms">
	<div class="container col2m flex frow fwrap text-left max1000 box-size padleft1 padright1 col2-text">
		<div class="col box-size">
			<h2>The challenge</h2>
		</div>
		<div class="col box-size">
			<p>To be the voice of prime London property and the industry leader. To produce a premium monthly title for delivery to handpicked postcodes, which demonstrates CLEA's expertise, showcases its many brands and wins instructions. Above all, to engage with the reader – the prime London homeowner.</p>
		</div>
	</div>
</section>

<section style="background-color:#db6a7a;" class="white padtop4 padbot4 marginbot0 mob-pad cms">
	<div class="container col2m flex frow fwrap text-left max1000 box-size padleft1 padright1 col2-text">
		<div class="col box-size">
			<h2>The idea</h2>
			<p>In a crowded magazine market, where sadly style over substance has become the norm, there was a need for standout, a dedication to pure property, editorial excellence, outstanding design and exceptional photography. For the client, membership would be limited to retain the exclusivity of a 'club' title.</p>
		</div>
		<div class="col box-size">
			<img src="/images/the-london-magazine.png" alt="The London Magazine Cover">
		</div>
	</div>
</section>

<section class="padtop4 padbot4 marginbot0 mob-pad cms">
	<div class="container text-left max1000 box-size padleft1 padright1 col2-text">
		<h2>The solution</h2>
		<p>With a specialist property editor at the helm, The London Magazine commissions the best property writers to bring broadsheet standards of journalistic excellence to its pages. Its editorial delivers much-needed authority and accuracy in a market of fluctuating fortunes. We engage readers in debate with challenging topics, revealing the heart and soul of prime London. Covers demonstrate supreme originality, using newsstand quality photographers on shoots. Specifically, we have brought the client into the creative process, by using real London properties for sale as cover locations. Our web presence has been boosted by a lively and engaging Twitter feed and newly launched Instagram page.</p>
	</div>
</section>

<section class="no-pad">
	<div class="carousel container oflow-hidden posrel" data-feed="/feeds/carousel-1.json"></div>
</section>

<section class="padtop4 padbot4 marginbot0 mob-pad cms">
	<div class="container max1000 box-size padleft1 padright1">
		<blockquote class="no-mar">
			&ldquo;The London Magazine has become the &lsquo;go to&rsquo; magazine for London property, just as London is the &lsquo;go to&rsquo; city in the world. Cedar has done a magnificent job in reinventing and reinvigorating the title.&rdquo;
			<footer>Client Quote</footer>
		</blockquote>
	</div>
</section>

<section style="background-color:#4d90bf;" class="white padtop4 padbot4 marginbot0 mob-pad cms">
	<div class="container col2m flex frow fwrap text-left max1000 box-size padleft1 padright1 col2-text">
		<div class="col box-size">
			<h2>The results</h2>
			<p>In recent research by one of our client members, TLM came top in a league table of responses to property advertising, beating broadsheet titles, rival magazines, and even billboards and taxi advertising. This is proof of our effectiveness as a marketing tool. Our Twitter following has grown to 4,400, adding 1,200 new followers in the past year. Our covers and use of images earned a CMA nomination in 2015 in the Best Use of Photography category, the first nomination for title in more than a decade and our editorial won Gold and Bronze medals at the LSL Property Journalism Awards in 2015. We have proven that excellence can be achieved with a small team and a modest budget.</p>
		</div>
		<div class="col box-size">
			<img src="/images/the-london-magazine-instagram-screenshot.png" alt="The London Magazine Instagram Screenshot">
		</div>
	</div>
</section>

<section class="padtop4 padbot4 marginbot0 mob-pad cms">
	<div class="container col2m flex frow fwrap text-left max1000 box-size padleft1 padright1 col2-text">
		<div class="col box-size">
			<h2>Video stories</h2>
			<p>Our local experts create inspiring video destination guides which explore cities from new perspectives.</p>
		</div>
		<div class="col box-size">
			<div class="responsive-embed">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/VOl4d1WS5_Y" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>

<section class="padtop4 padbot4 marginbot0 mob-pad cms">
	<div class="container col2m flex frow fwrap text-left max1000 box-size padleft1 padright1 col2-text">
		<div class="col box-size">
			<img src="/images/the-london-magazine-spread.png" alt="The London Magazine Spread">
		</div>
		<div class="col box-size valign">
			<span class="stat webfont-secondary" style="color:#2277b1;">75,000</span>
			<span class="stat desc webfont-secondary" style="color:#2277b1;">page views</span>
			<p>The London Magazine is the largest circulation property title in London, reaching 75,000 influential London households, as well as top hotels and BA lounges.</p>
		</div>
	</div>
</section>

<section class="container no-bot-pad no-top-pad col4 awards awards-inline">
	<ul class="no-pad flex frow fwrap fjustcntr mobile-limit">
		<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2">
			<div class="text-center flex fcol fgrow1 width-100 primary-font">
				<div class="lbl-name flex falgnselfcntr">
					<h3 class="text-upper default-font posrel colour-c">British Society of Magazine Editors</h3>
				</div>
				<div class="lbl-desc text-upper width-100 colour-c falgnselfcntr">Columnist of the year, special interest and brand</div>
				<div class="colour-g font110 padbot1 block fgrow1 falgnselfcntr">British Airways &ndash; Business Life</div>
				<p class="falgnselfcntr">Ruth Bloomfield won for her insightful articles Home to Roost, which explored the return of British buyers to Belgravia, and Review of 2014: Top Interiors trends of the year.</p>
			</div>
		</li>
		
	</ul>
</section>

<footer class="container max1000">
	{{> share-buttons}}
	{{> photo-credits}}
	{{> page-tags}}
</footer>

<section class="col2 container no-side-pad">
	<ul class="promo-list no-pad flex frow fwrap">
	{{> promo-list}}
	</ul>
	<a href="#a" class="btn btn-primary margintop2 marginbot1">Back to menu</a>
</section>

<section class="container text-center bg-grey footer-cta posrel mobpad5-0">
	{{> cta-signup-contact}}
</section>