---
title: Contact
map: true
inlineCritical: true
criticalPartial: _critical-contact
---

<section class="max1000 margin-auto padleft1 padright1 contact">
	<h1>{{title}}</h1>

	<section class="flex fwrap">
		<div class="col-1 padright2 text-left">
			<h2 class="no-mar">London</h2>
			<time datetime="16:42">Local time: 16:42</time>
		</div>
		<address class="fgrow1">
			6th floor<br>
			85 Strand<br>
			London<br>
			WC2R ODW<br>
			<a href="https://goo.gl/maps/x6tnR5edvsk" target="_blank" class="text-upper map-link" data-event-category="Map mobile" data-event-action="London" data-event-label="Contact">Map</a><br>
			<a href="tel:00442075508000">+44 (0)20 7550 8000</a>
		</address>
		<div class="col-3">
			<h3 class="default-font text-left no-mar font100">New business</h3>
			Joseph Costello<br>
			Senior Business Development Executive<br>
			<a href="mailto:joseph.costello@cedarcom.co.uk">joseph.costello@cedarcom.co.uk</a><br>
			<a href="tel:442075508000">+44 (0)20 7550 8000</a>
		</div>
		<div class="map-wrapper width-100" data-map-lat="51.51012" data-map-lng="-0.12184"></div>
	</section>
	<hr>

	<section class="flex fwrap">
		<div class="col-1 padright2 text-left">
			<h2 class="no-mar">Hong Kong</h2>
			<time datetime="00:42">Local time: 00:42</time>
		</div>
		<address class="fgrow1">
			16/F Cambridge House<br>
			Taikoo Place<br>
			979 King's Road<br>
			Quarry Bay<br>
			Hong Kong<br>
			<a href="https://goo.gl/maps/y3H4fHiSr4J2" target="_blank" class="text-upper map-link" data-event-category="Map mobile" data-event-action="Hong Kong" data-event-label="Contact">Map</a><br>
			<a href="tel:85228339873">+852 2833 9873</a>
		</address>
		<div class="col-3">
			<h3 class="default-font text-left no-mar font100">New business</h3>
			Hannah Saunders<br>
			Managing partner, Cedar Hong Kong<br>
			<a href="mailto:hannah.saunders@cedarcom.co.uk">hannah.saunders@cedarcom.co.uk</a><br>
			<a href="tel:85228339873">+852 2833 9873</a>
		</div>
		<div class="map-wrapper width-100" data-map-lat="22.28686" data-map-lng="114.21093"></div>
	</section>
	<hr>

	<section class="flex fwrap">
		<div class="col-1 padright2 text-left">
			<h2 class="no-mar">Cape Town</h2>
			<time datetime="18:42">Local time: 18:42</time>
		</div>
		<div class="flex fgrow1 two-addresses">
			<address class="width-50">
				27th floor<br>
				ABSA Building<br>
				4 Adderley Street<br>
				Cape Town<br>
				8001<br>
				<a href="https://goo.gl/maps/enALWvKX2zG2" target="_blank" class="text-upper map-link" data-event-category="Map mobile" data-event-action="Cape Town" data-event-label="Contact">Map</a><br>
				<a href="tel:27214081257">+27 (0)21 408 1257</a>
			</address>
			<div class="width-50 box-sizing padleft1">
				<h3 class="default-font text-left no-mar font100">Postal address</h3>
				<address>
					PO Box 440<br>
					Green Point<br>
					Cape Town<br>
					8051
				</address>
			</div>
		</div>
		<div class="col-3">
			<h3 class="default-font text-left no-mar font100">New business</h3>
			Helena Gavera<br>
			General manager, Cedar South Africa<br>
			<a href="mailto:helena.gavera@cedarcom.co.uk">helena.gavera@cedarcom.co.uk</a><br>
			<a href="tel:27214081257">+27 (0)21 408 1257</a>
		</div>
		<div class="map-wrapper width-100" data-map-lat="-33.92028" data-map-lng="18.42461"></div>
	</section>
</section>

<section class="container text-center bg-grey footer-cta posrel mobpad5-0">
	{{> cta-signup-contact}}
</section>