---
title: Homepage
inlineCritical: true
criticalPartial: _critical-homepage
---

<!-- Homepage Banner -->
<section id="home-banner" class="no-pad no-mar home-banner">
	<div class="posrel ratio">
		<!-- ###
		NOTE TO BED:
		- This should only load noautoplay-fallback div on iOS and Android devices only (use same logic as is-touch body class)
		-->
		<h1 class="posabsolute text-indent">Cedar | Smart Content Marketing</h1>
		<div class="noautoplay-fallback">
			<div class="img-container oflow-hidden desktop">
				<div style="background-image:url(/images/homepage-video.jpg)">
					<div class="ratio"></div>
				</div>
			</div>
			<div class="img-container mobile">
				<div style="background-image:url(/images/homepage-video-mobile.jpg)" class="ratio"></div>
			</div>
		</div>
		<!-- ###
		NOTE TO BED:
		- Do not load <video> tag below on iOS and Android devices (use same logic as is-touch body class)
		-->
		<video muted="muted" autoplay loop onplaying="this.controls=false;">
			<source src="https://player.vimeo.com/external/187953159.hd.mp4?s=bdfca34552fb56fa323dc4d951c932439f3e5483&profile_id=119"
			 type="video/mp4">
		</video>
		<button id="hp-scroll" class="button-reset text-upper"></button>
	</div>
	<div>
		<span>Big ideas
			<br>Smart content
			<br>Commercial success</span>
		<p>Full-service content marketing agency</p>
		<a href="#a" class="btn btn-primary">More about us</a>
	</div>
</section>

<!-- News Bar -->
<a class="news-strip text-center padtop1 padbot1 padleft1 padright1 block" href="#a">
	<span class="text-upper">Latest news:</span> Nullan pulvinar blandit leo ac volutpat. Donec non blandit neque.
	<span class="text-upper">Read more</span>
</a>

<!-- Introduction -->
<section class="container wide-pad text-center padtop5 padbot3">
	<h2>Lorem ipsum</h2>
	<p>Nullam pulvinar blandit leo ac volutpat. Donec non blandit neque. Fusce lacinia tempor quam, non sollicitudin tortor consequat
		at.
		<a href="#a">Vivamus ut tempor</a> enim. Curabitur semper facilisis ipsum sed facilisis.
		<a href="#a">Vivamus at neque</a> odio. Cras gravida pretium scelerisque. Vestibulum blandit velit.
		<a href="#a">Maecenas dictum est</a> eget risus imperdiet semper. Donec venenatis leo est, vitae rutrum leo.</p>
	<a href="#a" class="btn btn-primary margintop2 marginbot2">Services</a>
</section>
<hr>

<!-- Promo List -->
<section class="container col2 no-side-pad">
	<h2>Work</h2>
	<ul class="promo-list no-pad flex frow fwrap">
		{{> promo-list}} {{> promo-list}}
	</ul>
	<a href="#a" class="btn btn-primary margintop2 marginbot1">See all work</a>
</section>
<hr>

<!-- Logos (5 column grid) -->
<section class="logos container">
	<h2>Clients</h2>
	{{> logos}}
</section>

<section id="footer-newsletter" class="container text-center bg-grey footer-cta posrel">
	{{> cta-signup-footer}}
</section>