---
title: Templates
nocontent: true
---
<div class="container">
	<h1>Cedar 2016 site HTML Templates</h1>
	<ul>
	{{#withSort pages "data.title"}}
		{{#isnt data.title "Templates"}}
			<li class="list-unstyled" style="margin:0 0 8px 20px;list-style:disc;">
				<a href="{{relative dest this.dest}}">{{ data.title }}</a>
			</li>		
		{{/isnt}}
	{{/withSort}}
	</ul>
</div>
<style>
	footer,
	header {
		display: none !important;
	}
</style>