---
title: Join
inlineCritical: true
criticalPartial: _critical-default
---

<!-- Banner/Tab Intro -->
<section class="no-pad no-mar">
	<div class="img-container oflow-hidden desktop">
		<div style="background-image:url(/images/woman-holding-snowglobe.jpg)">
			<div class="ratio"></div>
		</div>
	</div>
	<div class="img-container mobile">
		<div style="background-image:url(/images/woman-holding-snowglobe-mobile.jpg)" class="ratio"></div>
	</div>
	<div class="tab posrel box-size">
		<div class="container max1000 no-side-pad">
			<h1>{{title}}</h1>
			<p class="subhead text-center primary-font">At Cedar we put people first</p>
		</div>
	</div>
</section>

<section class="no-top-pad no-pad">
	<div class="container max1000">
		<p>We care and it shows. We pride ourselves on employing the leading minds in creative content and have
			<a href="/contact/">offices</a> in London, Hong Kong and Cape Town. What does it take to be a Cedar person? Talent, humanity and commitment
			– and a 'Yes we can' mentality our clients love. Sound like you? Then join us. We draw on the talents of the whole team,
			from the most junior to most senior, to deliver the exceptional. Together we produce
			<a href="/case-studies/">fabulous multi-platform content</a> with an unexpected twist &ndash; and always with a human touch.</p>
		<p>But that's enough about us. We're not the point &ndash; you are.</p>
		<p>Please look below for details of our current vacancies.</p>
	</div>
</section>

<section class="no-top-pad no-pad">
	<div class="container max1000">
		<ul class="join">
			<li>
				<h2 class="accordion text-left no-mar">Job title
					<span class="black">Location</span>
				</h2>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						<a href="mailto:doloremqu@laudantium.com">doloremqu@laudantium.com</a>
					</p>
				</div>
			</li>
			<li>
				<h2 class="accordion text-left no-mar">Job title
					<span class="black">Location</span>
				</h2>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						<a href="mailto:doloremqu@laudantium.com">doloremqu@laudantium.com</a>
					</p>
				</div>
			</li>
			<li>
				<h2 class="accordion text-left no-mar">Job title
					<span class="black">Location</span>
				</h2>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						<a href="mailto:doloremqu@laudantium.com">doloremqu@laudantium.com</a>
					</p>
				</div>
			</li>
			<li>
				<h2 class="accordion text-left no-mar">Job title
					<span class="black">Location</span>
				</h2>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
						<a href="mailto:doloremqu@laudantium.com">doloremqu@laudantium.com</a>
					</p>
				</div>
			</li>
		</ul>

		<p>We are always interested in hearing from talented people, so if you'd like to work with us but there's not a suitable role
			at the moment, just drop us a line with your CV to:
			<a href="mailto:xxxxxxxxxxx">xxxxxxxxxxx</a>
		</p>
	</div>
</section>
<hr> {{> cta-social}}