---
title: News & Views
react: true
twitterIntents: true
inlineCritical: true
criticalPartial: _critical-news
---
<section class="bg-grey no-mar">
	<div class="container">
		<h1>{{title}}</h1>
		<div id="filtered-content" class="filter-pad" data-domain="http://cedar2016.staging.cedar.digital" data-feed="/feeds/news.json" data-type="news" data-openfilter-label="Filter by topic" data-closefilter-label="Close filters" data-tags-label="Tags" data-articles-tagged="Articles tagged" data-authors-label="Authors" data-readmore-label="Read story" data-all-label="All" data-loadmore-label="Load more"></div>
	</div>
</section>

<section class="container">
	<h2>Tweets</h2>
	{{> tweets}}
</section>

<section class="bg-grey no-mar">
	<div class="container">
		<h2>Cedar in the Media</h2>
		{{> media-list}}
	</div>
</section>

<section class="whitepaper container max1000 box-size">
	<h2>White papers</h2>
	<div class="flex">
		<div class="img-wrap padright1">
			<img src="/images/whitepaper-placeholder.png" alt="whitepaper"/>
		</div>
		<div>
			<h3 class="text-left font140">Whitepaper title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
			<a href="#" target="_blank" class="btn btn-primary inline-block" data-event-category="CTA" data-event-action="Whitepaper title download">Download</a>
			<a href="#" class="text-upper inline-block primary-font">More about this whitepaper</a>
		</div>
	</div>
</section>

<section id="footer-newsletter" class="container text-center bg-grey footer-cta posrel">
	{{> cta-signup-footer}}
</section>