---
title: Secondary Content Page
shortTitle: Digital
inlineCritical: true
criticalPartial: _critical-default
---

<!-- Banner/Tab Intro -->
<section class="no-pad no-mar">
	{{> banner-with-logo}}
</section>

<section class="no-pad no-mar">
	<div class="container max1000 box-size padleft1 padright1">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 

		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

		<div class="col3 flex fwrap frow headings-small padtop3 padbot3 sidemargin-neg1 text-left">
			<div class="col padleft1 padright1 marginbot1 box-size">
				<h2>Digital strategy</h2>
				<p>By planning the optimal digital customer journeys upfront we ensure that digital production is focused on activity that delivers true value for your business. We believe in continuous analysis and optimisation so enhancements drive progress towards hitting agreed project KPIs.</p>
			</div>
			<div class="col padleft1 padright1 marginbot1 box-size">
				<h2>User experience design</h2>
				<p>We put customers at the heart of everything. Delivering meaningful experiences across channels and devices is key to building loyalty and driving engagement. Our team craft thoughtful, insight-led and absorbing experiences that users love and that drive commercial success for our clients.</p>
			</div>
			<div class="col padleft1 padright1 marginbot1 box-size">
				<h2>Content</h2>
				<p>We know what content your customers want to consume, how and when. We bring together UX and content editors who are specialists in words, video, social media and SEO to ensure that beyond understanding an optimium customer journey, we produce content that meets their individual needs.</p>
			</div>
			<div class="col padleft1 padright1 marginbot1 box-size">
				<h2>Creative and design</h2>
				<p>Our work is user-centred, therefore all projects are mobile-first. We place a premium on our designs being performance optimised. Our team of talented designers work closely with our front-end developers to ensure output that is beautiful to look at, intuitive to use, fast to download, and works with all relevant browser technologies.</p>
			</div>
			<div class="col padleft1 padright1 marginbot1 box-size">
				<h2>Front-end and .NET development</h2>
				<p>We develop beautiful responsive web experiences using HTML5, CSS3 and JavaScript. Our mobile-first approach means web page delivery is optimised for mobile devices while preserving rich web experiences. We've developed web content management (WCM) solutions for large global brands on .NET CMS based platforms including Sitecore and Umbraco.</p>
			</div>
			<div class="col padleft1 padright1 marginbot1 box-size">
				<h2>Mobile app development</h2>
				<p>Cedar DCX has developed mobile apps for multiple clients. Our developers are skilled in creating feature rich (native) mobile apps in iOS and Android using best practice development, tools and testing. We keep up to date with trends in mobile app design and development on every device and platform for the ultimate user experience.</p>
			</div>
		</div>
	</div>
</section>

<section class="no-pad no-mar">
	<div class="container max1000 box-size padleft1 padright1">
		<h2>Our technology and partners</h2>
		<div class="col3 flex fwrap fjustcntr frow headings-small padbot0 sidemargin-neg1 no-bullets text-center partners">
			<div class="col padleft1 padright1 marginbot1 box-size">
				<img src="/images/logo-sitecore.png" alt="Sitecore Certified Gold Partner">
				<ul>
					<li>In-house Sitecore certified developers</li>
					<li>Development of wide-ranging Sitecore CMS websites</li>
					<li>Small to large scale CMS website build experience</li>
					<li>Sitecore clients include Tesco and Danone</li>
				</ul>
			</div>
			<div class="col padleft1 padright1 marginbot1 box-size">
				<img src="/images/logo-umbraco.png" alt="Umbraco">
				<ul>
					<li>In-house certified Umbraco developers</li>
					<li>Development of responsive CMS websites</li>
					<li>Experience integrating eCommerce and third-party systems into Umbraco</li>
					<li>Umbraco clients include British Airways and Intelligent Energy</li>
				</ul>
			</div>
			<div class="col padleft1 padright1 marginbot1 box-size">
				<img src="/images/logo-rackspace.png" alt="Rackspace - the open cloud company">
				<ul>
					<li>Currently over 20 sites and services hosted with Rackspace</li>
					<li>Hosting services include dedicated, shared or Cloud-based servers, Akamai CDN, robust load balanced solutions</li>
					<li>Extensive monitoring and alerting</li>
				</ul>
			</div>
		</div>

	</div>
</section>

<section class="col2 container no-side-pad">
	<ul class="promo-list no-pad flex frow fwrap">
	{{> promo-list}}
	</ul>
	<a href="#a" class="btn btn-primary margintop2 marginbot1">Back to menu</a>
</section>

<section class="container text-center bg-grey footer-cta posrel mobpad5-0">
	{{> cta-signup-contact}}
</section>