---
title: Services
react: true
inlineCritical: true
criticalPartial: _critical-default
---

<!-- Banner/Tab Intro -->
<section class="no-pad no-mar">
	{{> banner}}

	<!-- Grid with inlined details panel (4 column grid) -->
	<div id="details-grid" data-primarystyles="details-grid col4 no-pad no-mar" data-secondarystyles="img-wrapper-16-9" data-domain="http://cedar2016.staging.cedar.digital" data-feed="/feeds/services.json" data-readmore-label="Read more" data-findoutmore-label="Find out more">
		<!-- Add any React generated classes here so that PurifyCSS doesn't remove them -->
		<span class="react-anim-accordion-enter react-anim-accordion-enter-active react-anim-accordion-leave react-anim-accordion-leave-active"></span>
	</div>
</section>
<hr>

<!-- Logos (5 column grid) -->
<section class="logos container">
	<h2>Clients</h2>
	{{> logos}}
</section>

<section class="container text-center bg-grey footer-cta posrel mobpad5-0">
	{{> cta-signup-contact}}
</section>