---
title: Cedar 2016 Templates
---
<div class="container cms">
	<!-- Headline Styling -->
	<h1>This is a H1</h1>
	<h2>This is a H2</h2>

	<!-- Paragraph Styling -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum justo in <a href="#a">condimentum tempor</a>. Aliquam vitae ipsum at ante interdum blandit eu ut purus. Mauris luctus suscipit ex, quis ultrices lectus rhoncus eu. Maecenas rutrum nisl vehicula, hendrerit ligula eu, pretium sem.</p>
	<p>In ac semper nisl, vitae efficitur enim. Morbi pulvinar interdum eleifend. Morbi id tellus ac <a href="#a">felis feugiat</a> aliquet non ac nunc. Duis finibus vestibulum augue, in laoreet purus tempor varius. In blandit risus ac laoreet feugiat. Praesent diam ex, pretium quis metus sit amet, sollicitudin rutrum lorem.</p>

	<ul>
		<li>Bullet item 1</li>
		<li>Bullet item 2</li>
		<li>Bullet item 3</li>
	</ul>

	<p>In ac semper nisl, vitae efficitur enim. Morbi pulvinar interdum eleifend. Morbi id tellus ac <a href="#a">felis feugiat</a> aliquet non ac nunc. Duis finibus vestibulum augue, in laoreet purus tempor varius. In blandit risus ac laoreet feugiat. Praesent diam ex, pretium quis metus sit amet, sollicitudin rutrum lorem.</p>

	<ol>
		<li>Bullet item 1</li>
		<li>Bullet item 2</li>
		<li>Bullet item 3</li>
	</ol>

	<!-- Button Styling -->
	<a href="#a" class="btn btn-primary">Button</a>
</div>

<!-- Banner/Tab Intro -->
<section class="no-side-pad">
	{{> banner}}
</section>

<!-- Carousel -->
<section class="no-pad">
	<div class="carousel container oflow-hidden posrel " data-feed="/feeds/carousel-1.json"></div>
</section>

<!-- Promo List -->
<section class="col2 container no-side-pad">
	<h2>Work</h2>
	<ul class="promo-list no-pad flex frow fwrap">
	{{> promo-list}}
	</ul>
</section>
<hr>

<!-- Logos (5 column grid) -->
<section class="logos container">
	<h2>Clients</h2>
	{{> logos}}
</section>
<hr>

<section class="container text-center bg-grey footer-cta posrel mobpad5-0">
	{{> cta-signup-footer}}
</section>