---
title: Work
react: true
inlineCritical: true
criticalPartial: _critical-work
---
<section class="marginbot0">
	<div class="container max1000">
		<h1>{{title}}</h1>
		<p class="subhead text-center primary-font">Lorem ipsum dolor</p>
	</div>
</section>
<section class="no-pad">
	<div class="container max1000 padbot1">
		<p>We work with some of the world's biggest and best brands to create content strategies that take them from big ideas to commercial success across digital, print, social and mobile platforms. But don't just take our word for it – have a look at some of our most recent work.</p>
	</div>
	<div class="container no-side-pad work-filter">
		<div id="filtered-content" data-domain="http://cedar2016.staging.cedar.digital" data-feed="/feeds/work.json" data-type="work" data-openfilter-label="Filter by topic" data-closefilter-label="Close filters" data-tags-label="Tags" data-articles-tagged="Articles tagged" data-readmore-label="Read more" data-loadmore-label="Load more"></div>
	</div>
</section>
<hr>

<!-- Awards (4 column grid) -->
<section class="awards col4 container no-bot-pad">
	<h2>Awards</h2>
	{{> awards}}
	<button class="btn btn-primary marginbot2 button-reset mobile-only" data-type="load-more">Load more</button>
</section>
<hr>

<!-- Logos (5 column grid) -->
<section class="logos container">
	<h2>Clients</h2>
	{{> logos}}
</section>

<section id="footer-newsletter" class="container text-center bg-grey footer-cta posrel">
	{{> cta-signup-footer}}
</section>