﻿@using Cedar.UmbracoExtensions.Extensions
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Cedar.Web.Infrastructure.Data.Models.BaseModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="@Model.MetaDescription">
    <title>@Model.MetaTitle | Cedar | Smart Content Marketing</title>
    
    @RenderSection("AdditionalMeta", required: false)
    
    <meta property="og:url" content="@Model.MetaUrl" />
    <meta property="og:type" content="@ViewBag.Type" />
    <meta property="og:title" content="@Model.MetaTitle" />
    <meta property="og:description" content="@Model.MetaDescription" />
    <meta property="og:image" content="@Model.MetaImage" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Html.Raw("@cedarcontent")">
    <meta name="twitter:creator" content="@Html.Raw("@cedarcontent")">
    <meta name="twitter:title" content="@Model.MetaTitle">
    <meta name="twitter:description" content="@Model.MetaDescription">
    <meta name="twitter:image" content="@Model.MetaImage">

    <meta name="theme-color" content="#df1e54">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/icon-logo.png">
    <link rel="apple-touch-icon" href="/images/icon-logo.png">
    <meta name="apple-mobile-web-app-title" content="Cedar">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preload" href="@Url.GetUrl("/styles/style.min.css")" as="style">
    <style>@RenderSection("PriorityStyles", required: true)</style>
    <noscript data-css-path="@Url.GetUrl("/styles/style.min.css")">
        <link rel="stylesheet" href="@Url.GetUrl("/styles/style.min.css")">
    </noscript>

    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','@Url.GetAnalyticsUrl("/scripts/analytics.js")','ga');

        ga('create', 'UA-12426975-1', 'auto');
		ga('send', 'pageview');
	</script>
    <meta name="google-site-verification" content="7CSdQflQs2BewUer7k-TaltF8sWFPx2jMvX9RH6b818" />
</head>
<body class="@Model.BodyClass">
    <div class="page-wrapper oflow-hidden">
        @Html.Action("Header", "NavigationSurface")
        <div class="nav-offset"> 
            @RenderBody()
        </div>
        @Html.Action("Footer", "NavigationSurface")
    </div>
    
    @if (Model.FooterIncludes.ContainsKey("React"))
    {
        <script src="@Url.GetUrl("/scripts/react-lib/react-with-addons.min.js")"></script>
        <script src="@Url.GetUrl("/scripts/react-lib/react-dom.min.js")"></script>
    }
    @if (Model.FooterIncludes.ContainsKey("Slick"))
    {
        <script src="@Url.GetUrl("/scripts/react-lib/react-slick.min.js")"></script>
    }

    @if (Model.FooterIncludes.ContainsKey("Maps"))
    {
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyD1McX_HRYIXkCKc9enLajQNf8fWh52UHs"></script>
    }
    @if (Model.FooterIncludes.ContainsKey("TwitterIntents"))
    {
        <script src="//platform.twitter.com/widgets.js" async></script>
    }
    <script src="@Url.GetUrl("/scripts/script.min.js")" async></script>
</body>
</html>