/* ----------
Cedar DCX
- Article SCSS
---------- */

article {
	.colour-d {
		@include mq($until: bp-s) {
			font-size: 125%;
		}
	}

	h1 {
		padding: 0 0 0.4em;

		@include mq(bp-l) {
			font-size: 300%;
		}
	}

	aside {
		text-align: center;
		width: 11em;
		margin: 0 auto 2em;

		@include mq(bp-m) {
			position: absolute;
			top: 0;
			right: 0;
		}

		@include mq(bp-l) {
			right: calc((100vw - 980px) / 2);
		}

		@include mq(bp-xl) {
			right: 11em;
		}
	}
}

.has-author .narrower {
	@include mq(bp-m) {
		padding-right: 12em;
	}
}

.articles-list {
	h2 {
		font-size: 300%;
	}

	ul {
		max-width: 1366px;
	}

	li {
		max-width: 324px;
	}

	a {
		background: #fff;
		width: 100%;

		@include mq(bp-xl) {
			width: 307px;
		}
	}

	strong {
		font-size: 130%;
	}

	.btn-primary-on-hover {
		font-size: 95%;
	}

	.img-wrapper-16-9 {
		max-height: 176px;
	}
}