/* ----------
Cedar DCX
- Contact page SCSS
---------- */

.contact {
	h2 {
		font-size: 275%;
	}

	div,
	address,
	h3 {
		line-height: 150%;
	}

	time {
		padding-left: 0.15em;
	}

	.col-1 {
		width: 100%;

		@include mq(bp-m) {
			width: 14em;
		}
	}

	.col-3 {
		width: 100%;

		@include mq(bp-m) {
			width: 18em;
		}
	}

	.col-1,
	.fgrow1 {
		margin-bottom: 1em;

		@include mq(bp-m) {
			margin-bottom: 0;
		}
	}

	.two-addresses {
		@include mq($until: bp-l) {
			display: inline-block;

			& > address,
			& > div {
				width: 100%;
			}

			& > address {
				margin-bottom: 1em;
			}

			& > div {
				padding: 0;
			}
		}
	}

	.map-link,
	.map-link + br {
		@include mq(bp-m) {
			display: none;
		}
	}

	.map-wrapper {
		display: none;

		@include mq(bp-m) {
			display: block;
			height: 22em;
			margin: 1.5em 0 -0.5em 0;
		}
	}
}