/* ----------
Cedar DCX
- Homepage SCSS
---------- */

.home-banner {
	position: relative;
	max-height: 700px;
	overflow: hidden;

	> div:nth-of-type(2) {
		padding: 1.5em;

		@include mq(bp-s) {
			position: absolute;
			top: 15%;
			left: 10%;
		}

		@include mq(bp-l) {
			top: 20%;
			left: 10%;
		}
	}

	.posrel {
		line-height: 0;

		@include mq(bp-l) {
			position: static;
		}
	}

	.noautoplay-fallback,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	video {
		height: auto;

		@include mq(bp-xl) {
			margin: -4% 0 4% 0;
		}

		@include mq(bp-xxl) {
			margin: -10% 0 10% 0;
		}
	}

	p {
		color: $core-colour-c;
		text-align: left;
		font-size: 135%;
		line-height: 120%;
		margin: 0.7em 0;

		@include mq(bp-s) {
			color: #fff;
			font-size: 100%;
			margin-bottom: 1em;
		}

		@include mq(bp-m) {
			font-size: 125%;
		}

		@include mq(bp-l) {
			font-size: 165%;
		}
	}

	span {
		text-align: left;
		display: block;
		font-size: 180%;
		color: $core-colour-c;
		margin-bottom: 0;
		letter-spacing: -0.01em;
		line-height: 1.01;

		@include mq(bp-s) {
			color: #fff;
			margin-bottom: 0.2em;
		}

		@include mq(bp-m) {
			font-size: 250%;
		}

		@include mq(bp-l) {
			font-size: 320%;
		}
	}

	a {
		@include mq(bp-s) {
			margin: 0;
			box-shadow: none;
		}
	}
}

#hp-scroll {
	position: absolute;
	left: calc(50% - 20px);
	bottom: 0;
	color: #fff;
	font-size: 100%;
	padding-bottom: 3.5em;
	letter-spacing: 1px;
	width: 40px;
	background: url("/images/transparent-pixel.png");

	&::after {
		content: "";
		bottom: 1.8em;
		position: absolute;
		display: inline-block;
		left: calc(50% - 12px);
		width: 22px;
		height: 22px;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(45deg);
		animation: bounce 1.5s infinite;
	}

	@keyframes bounce {
		0% {
			transform: rotate(45deg) translate3d(0, 0, 0);
		}
		50% {
			transform: rotate(45deg) translate3d(8px, 8px, 0);
		}
		100% {
			transform: rotate(45deg) translate3d(0, 0, 0);
		}
	}

	@include mq(bp-m) {
		font-size: 90%;
	}

	@include mq(bp-xl) {
		padding-bottom: 4.5em;
		font-size: 80%;

		&::after {
			bottom: 2.5em;
		}
	}
}
