/* ----------
Cedar DCX
- Join SCSS
---------- */

.join {
	h2 {
		font-size: 190%;
		line-height: 100%;
		cursor: pointer;
		color: $core-colour-a;
		padding-left: 1em;
		position: relative;
		transition: all 100ms linear;

		&:hover {
			color: $core-colour-c;
		}

		& + div {
			max-height: 0;
			overflow: hidden;
			transition: all 350ms $accordion-up 0s;
			padding-top: 1em;
			margin-bottom: 1em;

			// Remove transitions for touch devices
			.is-touch & {
				transition: none !important;
			}
		}

		&::before {
			position: absolute;
			top: 0.1em;
			left: -0.2em;
			content: "";
			display: inline-block;
			width: 14px;
			height: 14px;
			border-right: 3px solid $core-colour-a;
			border-bottom: 3px solid $core-colour-a;
			transform: rotate(-45deg);
			transition: all 100ms linear;

			@include mq(bp-m) {
				width: 16px;
				height: 16px;
			}
		}

		&:hover::before {
			border-color: $core-colour-c;
		}
	}

	.opened h2 {
		color: $core-colour-c;

		& + div {
			max-height: 1500px;
			transition: max-height 350ms $accordion-down 0s;
		}

		&::before {
			transform: rotate(45deg);
		}
	}

	span {
		display: block;
		font-size: 70%;

		@include mq(bp-m) {
			display: inline-block;
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 1em 1em;
	}

	ol {
		list-style: decimal;
		margin: 0 0 1em 1.25em;
	}
}
