﻿@model dynamic
@using Umbraco.Web.Templates

@if (Model.editor.config.markup != null)
{
    string markup = Model.editor.config.markup.ToString();

    markup = markup.Replace("#value#", Model.value.ToString());
    markup = markup.Replace("#source#", Model.source.ToString());

    <text>
        @Html.Raw(markup)
    </text>

}
else
{
    <text>
        <div style="@Model.editor.config.style">@Model.value</div>
    </text>
}
