﻿@model dynamic
@using Umbraco.Web.Templates

@if (Model.editor.config.markup != null)
{
    string markup = Model.editor.config.markup.ToString();

    markup = markup.Replace("#value#", Model.value.ToString());
    markup = markup.Replace("#source#", Model.source.ToString());

    <text>
        @Html.Raw(markup)
    </text>

}
else
{
    <text>
        <span class="stat webfont-secondary" style="color:#2277b1;">@Model.value</span>
        <span class="stat desc webfont-secondary" style="color:#2277b1;">@Model.desc</span>
    </text>
}
