﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var imageIds = Model.MacroParameters["Image"];
}

@if (imageIds != null)
{

    string[] arrayId = imageIds.ToString().Split(',');
    if (arrayId.Length > 0)
    {
        <ul class="padbot2 flex frow fwrap fjustcntr falgncntr max650 margin-auto col3">
            @for (int i = 0; i < arrayId.Length; i++)
            {
                var image = Umbraco.Media(arrayId[i]);
                var link = Model.MacroParameters[("ImageLink" + (i + 1))];
                <li class="col padtop1 flex fcol fjustcntr falgncntr box-size" style="margin: 0;">
                    <a href="@link">
                        <img src="@image.Url" class="width-100" alt="">
                    </a>
                </li>
            }            
        </ul>
    }
}