/* ----------
Cedar DCX
- Awards SCSS
---------- */

.awards {
	ul {
		@include mq(bp-xl) {
			margin: 0 1em;
		}
	}

	li {
		font-size: 90%;
	}

	.lbl-name {
		height: 5.5em;
		background: url("/images/laurel.svg") no-repeat top center;
		background-size: auto 100%;

		@include mq(bp-xxs) {
			height: 6.25em;
		}
	}

	h3 {
		width: 100%;
		max-width: 186px;
		margin: auto;
		padding: 0 2em;
		box-sizing: border-box;
		line-height: 100%;
		font-size: 100%;

		@include mq(bp-s) {
			font-size: 110%;
		}
	}

	.lbl-desc {
		padding: 0 1em;
		box-sizing: border-box;
		font-size: 95%;
		margin: 1em 0 0.5em;

		@include mq(bp-l) {
			font-size: 100%;
		}
	}

	.btn-primary-on-hover {
		width: 6.5em;
		margin: auto;
	}
}

.awards-inline {
	@include mq($until: bp-xs) {
		.col {
			width: 100%;
		}

		li div div:first-child {
			width: 50%;
		}
	}

	p {
		padding: 0 2.5%;
	}
}