.carousel {
	margin: auto;
	padding: 0;

	figure {
		margin: 0;
		float: left;
	}

	button {
		border: 0;
		text-indent: -9999px;

		/* stylelint-disable property-no-vendor-prefix, declaration-block-no-duplicate-properties */
		/* Remove tap highlight */
		-webkit-appearance: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: transparent; /* For some Androids */
		/* stylelint-enable property-no-vendor-prefix, declaration-block-no-duplicate-properties */
		outline: none;
	}
}

.slick-dots {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;

	li {
		display: inline-block;
		padding: 0.85em;
	}

	button {
		width: 17px;
		height: 17px;
		background: $grey2;
		border-radius: 100%;
		transition: background 200ms;
		font-size: 0; // For iOS

		&:hover {
			background-color: $body-font-colour;
		}
	}
}

.slick-active button {
	background: $core-colour-a !important;
}

.slick-prev {
	left: 2em;
}

.slick-next {
	right: 2em;
}

.slick-next,
.slick-prev {
	background: transparent;
	top: calc(42.5% - 16px) !important;
}

figcaption {
	color: $grey5;
	padding: 0.5em;
	text-align: center;

	@include mq(bp-s) {
		font-size: 100%;
	}
}
