/* ----------
Cedar DCX
- Details grid SCSS
---------- */

.details-grid {
	/* Speed of all transitions within this selector */
	$transition-speed: 250ms;

	li {
		padding-bottom: 2.4em;

		h2 {
			margin-bottom: 0.25em;
		}

		a {
			width: 100%;
			height: 100%;
		}

		.btn-more {
			left: 0;
		}

		@include mq(bp-xl) {
			justify-content: center;

			&:nth-of-type(4n+1) {
				justify-content: flex-end;
				flex-grow: 1;

				.btn-more {
					left: auto;
					right: 0.5em;
				}
			}

			&:nth-of-type(4n+2),
			&:nth-of-type(4n+3) {
				width: 324px !important;

				.btn-more {
					left: 0.5em;
				}
			}

			&:nth-of-type(4n+0) {
				justify-content: flex-start;
				flex-grow: 1;

				.btn-more {
					left: 0.5em;
				}
			}

			a {
				width: 307px;
			}
		}
	}

	.plh-grid {
		display: none;

		@include mq(bp-xl) {
			display: flex;
			padding: 0 !important;
			margin: 0 !important;
		}
	}

	strong {
		margin-bottom: 0.25em;

		@include mq(bp-s) {
			font-size: 160%;
		}
	}

	span {
		display: block;
		flex-grow: 1;

		@include mq(bp-s) {
			font-size: 130%;
		}
	}

	strong,
	span {
		transition: color 250ms;
		line-height: 110%;
		font-size: 125%;
	}

	.btn-more {
		width: 100%;
		position: absolute;
		bottom: 0;

		@include mq(bp-xl) {
			max-width: 307px;
		}
	}

	.btn-primary-on-hover {
		font-size: 95%;
		margin: 0.75em auto 0;
		width: 6.5em;
	}

	.selected {
		transition: filter $transition-speed;

		a {
			cursor: default;
		}

		img {
			filter: grayscale(100%);
			opacity: 0.8;
		}

		.btn-primary-on-hover {
			opacity: 0;
		}

		strong,
		span {
			color: $grey6;
		}
	}

	.bg-underlay {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/** Grid details panel **/
.grid-details {
	width: 100%;
	transition: height 200ms;

	#panel {
		@include mq($until: bp-s) {
			padding-bottom: 1.5em;
		}
	}

	h2 {
		font-size: 190%;

		& + span {
			padding-top: 0;
			margin-bottom: 0.75em;
			display: block;
			font-size: 125%;

			@include mq(bp-l) {
				font-size: 200%;
			}
		}

		@include mq(bp-l) {
			font-size: 250%;
		}
	}

	.content {
		padding: 4em 0 3em;

		@include mq(bp-s) {
			padding: 1em 2.5em;
			overflow: hidden;
		}

		@include mq(bp-l) {
			margin: auto;
			max-width: 970px;
		}
	}

	.details-img-wrapper {
		display: none;

		@include mq(bp-s) {
			max-width: 320px;
			max-height: 320px;
			float: left;
			width: 33%;
			position: relative;
			margin: 0;
			display: block;
		}
	}

	.details-content-wrapper {
		@include mq(bp-s) {
			float: left;
			width: 67%;
			padding-left: 1.5em;
			box-sizing: border-box;
		}
	}

	.img-large {
		width: 100%;
		height: 25%;
		padding-top: 100%;
		top: 0;
		left: 0;
		background-color: $grey6;
	}

	#next,
	#prev {
		@include mq($until: bp-s) {
			top: 1em;
		}
	}

	#close {
		position: absolute;
		right: calc(50% - 7px);
		top: 1.75em;
		width: 15px;
		height: 15px;

		@include mq(bp-s) {
			right: 1em;
			top: 1.25em;
		}

		@include mq(bp-l) {
			width: 28px;
			height: 28px;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: -3px;
			right: 6px;
			background: $core-colour-a;
			width: 3px;
			height: 20px;

			@include mq(bp-l) {
				right: 11px;
				width: 5px;
				height: 34px;
			}
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}

/** React defined animations **/
.react-anim-accordion-enter {
	max-height: 0;
}

.react-anim-accordion-enter.react-anim-accordion-enter-active {
	max-height: 1500px;
	transition: max-height 350ms $accordion-down 0s;

	// Remove transitions for touch devices
	.is-touch & {
		transition: none !important;
	}
}

.react-anim-accordion-leave {
	max-height: 1500px;
}

.react-anim-accordion-leave.react-anim-accordion-leave-active {
	max-height: 0;
	margin-bottom: 0;
	transition: all 350ms $accordion-up 0s;

	// Remove transitions for touch devices
	.is-touch & {
		transition: none !important;
	}
}