/* ----------
Cedar DCX
- Filter grid SCSS
---------- */

.filter-grid {
	justify-content: center;

	li {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: transform 300ms, opacity 300ms;

		&.animate {
			opacity: 0;
			transform: translate3d(0, 50px, 0);
		}
	}

	@include mq(bp-xs) {
		justify-content: flex-start;
	}
}

.category-wrap {
	border: 1px solid $grey6;
	border-radius: 50px;
	overflow: hidden;
	display: inline-block;
	background-color: #fff;

	button {
		padding: 0.7em 1em;
		color: $core-colour-a;

		&:hover,
		&.on {
			background-color: $core-colour-c;
			color: #fff;
		}
	}

	li:not(:last-child) {
		border-right: 1px solid $grey6;
	}

	li:first-child button {
		padding-left: 1.5em;
	}

	li:last-child button {
		padding-right: 1.5em;
	}
}

.filters {
	margin-bottom: 2em;

	& > div {
		flex-direction: column;

		& > button {
			max-width: 12em;
			margin: 0 auto 1.5em !important;

			@include mq(bp-s) {
				margin: 0 !important;
			}
		}

		@include mq(bp-s) {
			flex-direction: row;
			justify-content: flex-start;
		}

		& > div:not(.catswrap) {
			flex-direction: column;
			padding-left: 0;

			@include mq(bp-s) {
				flex-direction: row;
			}
		}

		.catswrap {
			justify-content: center;

			@include mq(bp-s) {
				flex-direction: row;
				justify-content: flex-end;
			}
		}
	}

	& > div > button:first-child {
		background-color: $core-colour-a;
		color: #fff;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		margin-bottom: 0;
		transition: none;

		&.close {
			position: relative;
			padding-right: 3em;
			background-color: #fff;
			color: $body-font-colour;

			&::after,
			&::before {
				content: "";
				width: 3px;
				height: 16px;
				position: absolute;
				background-color: $core-colour-a;
				top: calc(50% - 0.5em);
				right: 1.4em;
			}

			&::after {
				transform: rotate(135deg);
			}

			&::before {
				transform: rotate(45deg);
			}
		}
	}

	.tag:not(.toggle-btn) {
		font-size: 90%;
	}
}

.rem-tag {
	position: relative;
	background-color: $tag-color;
	color: #fff !important;
	padding-right: 3em;

	&::after,
	&::before {
		content: "";
		width: 2px;
		height: 12px;
		position: absolute;
		background-color: $core-colour-a;
		top: calc(50% - 0.4em);
		right: 1.4em;
	}

	&::after {
		transform: rotate(135deg);
	}

	&::before {
		transform: rotate(45deg);
	}
}

#reset {
	margin-bottom: 0;
}

#tags-wrap {
	max-height: 0;
	transition: max-height 350ms cubic-bezier(0.19, 1, 0.22, 1);

	// Remove transitions for touch devices
	.is-touch & {
		transition: none !important;
	}

	div {
		margin-bottom: 1em;

		@include mq(bp-s) {
			margin-top: 1em;
		}
	}

	&.opened {
		max-height: 1200px;
		transition: max-height 350ms cubic-bezier(0, 0, 1, 0);
	}
}

.tag-wrap {
	display: flex;
	flex-direction: flex-start;
	flex-wrap: wrap;
	justify-content: center;

	li {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	button {
		color: $core-colour-a;
	}
}

.tagged-text {
	text-align: center;
	display: block;
	margin-bottom: 1em;
	width: 100%;

	@include mq(bp-s) {
		display: inline-block;
		width: auto;
		margin-bottom: 0;
		padding-right: 1em;
		padding-left: 1em;
	}
}

.filter-pad {
	@include mq(bp-xl) {
		padding: 0 2em;
	}
}

.work-filter {
	.filters {
		padding: 0 2em;
	}
}