/* ----------
Cedar DCX
- Footer CTA SCSS
---------- */

.footer-cta {
	padding: 3em 2em;

	@include mq(bp-s) {
		padding: 6em 15%;
	}

	@include mq(bp-m) {
		padding: 6em 19%;
	}

	@include mq(bp-l) {
		padding: 6em 25%;
	}

	@include mq(bp-xxl) {
		padding: 7.5em 32%;
	}

	.inline-form {
		display: flex;
		margin: 0 auto;
		width: 18em;

		@include mq(bp-s) {
			width: 21em;
		}

		input[type="email"] {
			border: 0;
			padding: 1em;
			font-size: 90%;
			width: 100%;
			box-sizing: border-box;

			/* stylelint-disable selector-no-vendor-prefix */
			/* Ignore vendor prefix */
			&::-webkit-input-placeholder {
				text-transform: uppercase;
				color: $core-colour-a;
			}

			&::-moz-placeholder {
				text-transform: uppercase;
				color: $core-colour-a;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				text-transform: uppercase;
				color: $core-colour-a;
			}
			/* stylelint-enable selector-no-vendor-prefix */
		}

		input[type="submit"] {
			padding: 1em;
			width: 7em;
			font-size: 90%;
			box-shadow: none;
		}
	}

	h2 {
		margin-bottom: 0.3em;
	}

	div {
		opacity: 1;
		z-index: 1;
		position: relative;
	}

	.extra-pad {
		padding: 5em 0;
		transition: opacity 350ms;

		@include mq(bp-s) {
			padding: 1em 0;
		}
	}

	.panel2,
	.panel3 {
		left: 0;
		width: 100%;
		z-index: 10;
		top: 0;
		visibility: hidden;
		transition: opacity 350ms;
	}

	.contact-form {
		width: 100%;
		max-width: 35em;
		margin: 0 auto;
		padding: 5px;

		label {
			width: 100%;
			display: block;
			margin-bottom: 1em;

			input,
			textarea {
				width: 100%;
				padding: 0.7em 1em;
				border: none;

				/* stylelint-disable selector-no-vendor-prefix */
				/* Ignore vendor prefix */
				&::-webkit-input-placeholder {
					text-transform: uppercase;
					color: $body-font-colour;
				}

				&::-moz-placeholder {
					text-transform: uppercase;
					color: $body-font-colour;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					text-transform: uppercase;
					color: $body-font-colour;
				}
				/* stylelint-enable selector-no-vendor-prefix */

				@include mq(bp-m) {
					padding: 1em;
				}
			}

			@include mq(bp-s) {
				&:first-child,
				&:nth-child(2) {
					width: 50%;
				}

				&:first-child {
					padding-right: 0.5em;
				}

				&:nth-child(2) {
					padding-left: 0.5em;
				}
			}
		}

		span {
			font-size: 90%;
			margin-top: 0.75em;
			text-align: center;
			width: 100%;
			color: $core-colour-a;
		}
	}

	.accordion {
		max-height: 0;
		overflow: hidden;
		transition: max-height 350ms $accordion-up 350ms;
		visibility: visible;
		transform: translate3d(0, -2.8em, 0);

		// Remove transitions for touch devices
		.is-touch & {
			transition: none !important;
		}

		&.opened {
			max-height: 500px;
			transition: max-height 350ms $accordion-down 350ms;
		}
	}
}

.cta-social {
	p {
		margin-bottom: 1em;
	}

	.social a {
		width: 50px;
		height: 50px;
		background-size: 55%;
	}
}
