/* ----------
Cedar DCX
- Footer
---------- */

.logo-strip {
	padding: 1.5em;
	background-position: center;
	border-top: 1px solid $grey1;
	background-size: 60px auto;

	@include mq(bp-m) {
		padding: 1.8em;
		background-size: 84px auto;
	}
}

.footer-contact {
	font-size: 130%;

	p,
	span {
		color: #fff;
		line-height: 120%;
	}

	.address {
		@include mq(bp-s) {
			padding-bottom: 0.2em;
		}
	}

	address {
		a {
			margin-top: 0.3em;
			display: inline-block;
			transition: color 250ms;
		}
	}

	.container {
		max-width: 1000px;

		@include mq(bp-s) {
			padding: 2em 0 1em;
		}
	}

	a:hover,
	a:focus {
		color: #fff;
	}

	a {
		color: #fff;

		&:hover {
			color: $grey2;
		}
	}

	.map a {
		position: relative;
		padding-right: 1.33em;

		@include mq(bp-s) {
			&::before {
				position: absolute;
				top: 0.3em;
				right: 0;
				content: "";
				display: inline-block;
				width: 7px;
				height: 7px;
				border-right: 2px solid $core-colour-a;
				border-top: 2px solid $core-colour-a;
				transform: rotate(45deg);
				margin-right: 0.5em;
			}
		}
	}

	.col {
		padding-left: 1.2em;

		// Remove transitions for touch devices
		.is-touch & {
			transition: none !important;
		}

		@include mq(bp-s) {
			&:first-child {
				width: 100%;
			}

			&:not(:first-child) {
				width: 33.3%;
				box-sizing: border-box;
			}

			&::before {
				content: none !important;
			}

			.wrap {
				max-height: none !important;
			}
		}

		@include mq(bp-m) {
			width: 25% !important;
		}

		&:not(:first-child)::before {
			position: absolute;
			top: 0.3em;
			left: 0;
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			border-right: 2px solid $core-colour-a;
			border-top: 2px solid $core-colour-a;
			transform: rotate(45deg);
			margin-right: 0.5em;
			transition: transform 100ms linear;
		}

		&.opened::before {
			transform: rotate(135deg);
		}

		&:not(.opened) .wrap {
			max-height: 0;
			transition: max-height 350ms $accordion-up 0s;
		}
	}

	span {
		font-size: 110%;

		@include mq(bp-s) {
			padding-bottom: 0.1em;
			font-size: 130%;
		}
	}

	.wrap {
		transition: max-height 350ms $accordion-down 0s;
		max-height: 800px;

		// Remove transitions for touch devices
		.is-touch & {
			transition: none !important;
		}

		@include mq(bp-s) {
			font-size: 95%;
		}

		@include mq(bp-m) {
			font-size: 90%;
		}
	}

	@include mq(bp-s) {
		font-size: 110%;
		padding: 0.5em 0 0;
	}
}

.social {
	padding-top: 0.1em;

	@include mq(bp-s) {
		padding-top: 0.2em;
		padding-bottom: 1em;
	}

	li:not(:last-child) {
		padding-right: 0.4em;

		@include mq(bp-s) {
			padding-right: 0.6em;
		}
	}

	a {
		width: 28px;
		height: 28px;
		background-size: 15px auto;

		@include mq(bp-s) {
			width: 36px;
			height: 36px;
			background-size: auto;
		}
	}
}

.hygiene {
	padding-top: 1.5em;
	padding-bottom: 1.2em;

	li {
		line-height: 100%;
		margin-bottom: 0.5em;
		font-size: 95%;
	}

	li:not(:last-child) {
		border-right: 1px solid #999;
	}

	li,
	a {
		color: $grey2;
	}

	&.small {
		li,
		a {
			color: $body-font-colour;
		}
	}

	a:hover,
	a:focus {
		opacity: 0.8;
	}

	.bg-f {
		padding-bottom: 0.5em;

		li:not(:last-child) {
			border-right: 1px solid #c4c2c2;
		}

		li,
		a {
			color: #c4c2c2;
		}
	}

	@include mq(bp-s) {
		&.small {
			padding: 0.5em;

			li {
				font-size: 75%;
			}
		}
	}
}
