/* ----------
Cedar DCX
- Header
---------- */

/* stylelint-disable selector-no-vendor-prefix */
/* Browser pre-fixes needed for placeholder colours */
.nav-offset {
	@include mq($until: bp-m) {
		font-size: 110%;
		padding-top: 5.3em;
	}

	@include mq($from: bp-m) {
		padding-top: 3.2em;
	}

	@include mq($from: bp-l) {
		padding-top: 3.55em;
	}
}

header {
	@include mq(bp-m) {
		position: fixed;
		width: 100%;
		max-width: 2000px;
		z-index: 100;
	}
}

.top-bar {
	position: relative;
	align-items: stretch;
	min-width: 300px;
	flex-wrap: wrap;

	@include mq(bp-m) {
		flex-wrap: nowrap;
	}

	a,
	button {
		@include mq(bp-xl) {
			letter-spacing: 1px;
		}
	}

	/** Mobile Nav **/
	@include mq($until: bp-m) {
		position: absolute;
		width: 100%;
		z-index: 2;
		background-color: #fff;
		box-shadow: 0 -5px 8px 5px rgba(0, 0, 0, 0.2);

		input[type="email"] {
			border: 1px solid #999;
			width: 70%;
			padding: 0.2em;
			margin-bottom: 1.5em;
			font-size: 120%;

			&::-webkit-input-placeholder {
				color: #fff;
			}

			&::-moz-placeholder {
				color: #fff;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: #fff;
			}
		}

		.cedar-logo {
			position: relative;
			z-index: 2;
		}

		nav,
		#follow {
			z-index: 2;
			background-color: #fff;
			width: 100%;
		}

		#follow {
			display: none;

			& > div {
				& span {
					display: block;
					font-size: 60%;
					line-height: 150%;
				}
			}

			#feedback {
				font-size: 200%;
				padding: 0 1em;
				line-height: 150%;
			}

			.nav-shadow {
				display: none;
			}
		}

		label {
			display: block;
			font-size: 120%;
			margin-bottom: 1em;
			padding: 0 1em;
		}

		hr {
			height: 1px;
			margin: -2.1em 0 2em 0;
		}

		& > a,
		& > button {
			width: 33.3%;
		}

		a:not(.circle) {
			padding: 1em 0;
		}

		#loc-btn {
			background-color: $grey1;
			color: $core-colour-a;
			position: relative;

			&::after {
				content: "";
				display: inline-block;
				position: absolute;
				margin: 0.4em 0 0 0.7em;
				width: 5px;
				height: 5px;
				border-right: 1px solid $core-colour-a;
				border-top: 1px solid $core-colour-a;
				transform: rotate(135deg);
			}
		}

		#follow-btn {
			background-color: $core-colour-a;
			color: #fff;
		}

		.locations {
			order: 4;
			width: 100%;
		}

		nav {
			order: 4;
			width: 100%;

			ul {
				width: 100%;
			}

			li {
				width: 33.3%;
			}

			a:not(.circle),
			button {
				padding: 0.7em 0;
				color: $body-font-colour;
				width: 100%;
			}

			li:nth-child(n + 3) {
				display: none;
			}

			li:nth-child(2) {
				border-left: 1px solid $grey1;
				border-right: 1px solid $grey1;
			}

			li:last-child {
				display: block;
			}
		}

		#menu-btn {
			span {
				position: relative;
				display: inline-block;
				border-top: 2px solid $body-font-colour;
				border-bottom: 2px solid $body-font-colour;
				width: 18px;
				height: 10px;
				margin-left: 5px;
				margin-bottom: -3px;
				z-index: -1;

				&::before {
					content: "";
					width: 100%;
					position: absolute;
					border-top: 2px solid $body-font-colour;
					top: calc(50% - 1px);
					height: 2px;
					left: 0;
				}
			}
		}

		#loc-nav {
			display: none;
		}

		.open-nav {
			display: block !important;
			position: absolute;
			top: 3.2em;
			left: 0;
			overflow: hidden;

			ul:not(.social) {
				flex-direction: column;

				li {
					display: block !important;
					width: 100%;
					border-bottom: 1px solid $grey1;
				}
			}

			a:not(.circle) {
				border: none;
				padding: 1.3em 0;
				color: $core-colour-a;
			}

			&#main-nav {
				li:last-child {
					display: none !important;
				}
			}
		}

		.social {
			li:last-child {
				padding-right: 0;
			}
		}

		.mob-close {
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			top: 0;
			left: 0;
			z-index: 1;
			transform: translate3d(-100%, 0, 0);
			transition: transform 100ms ease-in-out;

			button {
				position: absolute;
				right: 20px;
				top: 12px;
				display: block;
				text-indent: -9999px;
				width: 30px;
			}

			button::before,
			button::after {
				content: "";
				position: absolute;
				right: 10px;
				top: 0;
				background-color: #fff;
				width: 3px;
				height: 20px;
			}

			button::before {
				transform: rotate(45deg);
			}

			button::after {
				transform: rotate(-45deg);
			}
		}

		.slide {
			transform: translate3d(0%, 0%, 0%);
		}
	}

	/** Desktop Nav **/
	@include mq($from: bp-m) {
		overflow: visible;

		& > * {
			position: relative;
			z-index: 10;
			background-color: #fff;
		}

		.cedar-logo {
			width: 98px;
			background-position: center;
			padding: 0.5em 0 0.5em 1em;
		}

		.loc-wrap {
			position: relative;
			flex-grow: 0;
		}

		#loc-nav {
			display: block;
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			background-color: #fff;

			ul {
				display: none;

				&:hover {
					display: block;
				}
			}

			a {
				padding: 1.2em 1em;
				border-bottom: none;
				border-top: 1px solid $grey1;
				text-align: left;
				color: $core-colour-a;
				transition: background-color 200ms;

				&:hover,
				&:focus {
					background-color: $grey1;
				}
			}
		}

		#loc-btn {
			flex-grow: 0;
			position: relative;
			color: $core-colour-a;
			padding: 1em 4em 1em 1em;
			border-right: 1px solid $grey1;

			&::after {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				right: 2.5em;
				top: 48%;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid $core-colour-a;
			}

			&:hover {
				& + #loc-nav {
					ul {
						display: block;
					}
				}
			}
		}

		#follow-btn {
			background-color: $core-colour-a;
			color: #fff;
			border-bottom: 2px solid $core-colour-a;
			transition: background-color 150ms linear, border-color 150ms linear;

			&:hover,
			&:focus {
				background-color: $body-font-colour;
				border-color: $body-font-colour;
			}
		}

		#follow {
			background-color: transparent;
			padding: 0;
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-end;
			/* stylelint-disable number-max-precision */
			/* Override for hack on translate */
			transform: translate3d(0%, calc(-0.001%), 0%);
			/* stylelint-enable number-max-precision */
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
			height: 100%;
			z-index: 1;

			&.slide {
				transform: translate3d(0%, 100%, 0%);
			}

			& > div:not(.nav-shadow) {
				height: 100%;
				background-color: $grey1;
				justify-content: flex-end;
				align-items: stretch;
				flex-direction: row;
				width: 100%;

				p {
					padding: 0 0.8em 0 0;
					margin: 0;
					font-size: 95%;
					display: flex;
					align-items: center;
				}
			}

			#feedback {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				left: 0;
				background-color: $grey1;
				display: flex;
				align-items: center;
				justify-content: center;

				span {
					display: inline-block;
					margin-left: 0.5em;
				}
			}

			hr {
				display: none;
			}

			a {
				padding: 0;
			}

			.social a {
				border-bottom: none;
			}

			.or {
				display: none;
			}

			ul {
				padding: 0;
				margin-right: 0.5em;
			}

			ul,
			& > p {
				display: flex;
				align-items: center;
			}

			label {
				display: block;
				height: 1px;
				width: 1px;
				text-indent: -9999px;
			}

			form {
				padding-top: 0;
				display: flex;
				flex-direction: row;
			}

			input[type="email"] {
				margin: 0.8em 1.5em;
				display: block;
				width: 26em;
				border: none;
				font-size: 95%;
				background-color: #fff;
				padding: 0.2em 0.5em;

				&::-webkit-input-placeholder {
					color: $body-font-colour;
				}

				&::-moz-placeholder {
					color: $body-font-colour;
					opacity: 1;
				}

				&:-ms-input-placeholder {
					color: $body-font-colour;
				}

				@include mq($until: bp-l) {
					width: 23em;
				}
			}

			input[type="submit"] {
				box-shadow: none;
				width: 6.3em;
				font-size: 95%;
			}
		}

		a:not(.cedar-logo),
		button {
			padding: 1em 0.9em;
			color: $body-font-colour;
			border-bottom: 2px solid #fff;
			box-sizing: border-box;
			font-size: 95%;
		}

		#main-nav {
			display: flex;
			flex-grow: 1;
			justify-content: flex-end;

			li:last-child {
				display: none;
			}

			li {
				display: flex;
				align-items: stretch;
			}

			a {
				display: flex;
				align-items: center;
				border-left: 1px solid $grey1;
				transition: background-color 200ms, border-left 200ms,
					border-bottom 200ms;
			}

			a:hover,
			a:focus {
				background-color: $core-colour-a;
				border-bottom: 2px solid $core-colour-a;
				border-left: 1px solid $core-colour-a;
				color: #fff;
			}
		}

		.mob-close {
			position: absolute;
			height: 100%;
			display: flex;
			align-items: stretch;
			top: 0;
			right: 0;
			background-color: $grey1;
			width: 6em;
			transform: translate3d(0%, -100%, 0%);
			transition: transform 200ms;

			button {
				border-bottom: none;
				text-indent: -9999px;
				position: relative;
				width: 100%;

				&::before,
				&::after {
					content: "";
					background-color: $core-colour-a;
					width: 4px;
					height: 22px;
					position: absolute;
					top: calc(50% - 11px);
					left: calc(50%);
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(135deg);
				}
			}

			&.show {
				transform: translate3d(0%, 0%, 0%);
			}

			@include mq($until: bp-l) {
				width: 4.3em;
			}
		}
	}

	@include mq($from: bp-l) {
		a:not(.cedar-logo),
		button {
			padding: 1.2em 1.8em;
		}
	}

	.on {
		border-bottom: 2px solid $core-colour-a !important;
	}
}

.show-btn {
	opacity: 1 !important;
}

.overlay-bg {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $body-font-colour;
	opacity: 0.8;
	z-index: 1;

	@include mq(bp-m) {
		display: none;
	}
}

.nav-shadow {
	display: flex;
	height: 8px;
	width: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.3) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	opacity: 0.2;
}
/* stylelint-enable selector-no-vendor-prefix */
