/* ----------
Cedar DCX
- Logos SCSS
---------- */

.logos {
	li {
		padding: 1em 0;

		@include mq(bp-s) {
			padding: 1em 0.5em;
		}
	}

	a {
		min-height: 20px;

		.is-touch & {
			filter: none;
		}
	}

	img {
		width: 100%;
		opacity: 0.7;
		transition: all 0.2s linear 0s;
		backface-visibility: hidden;

		// Remove transitions for touch devices
		.is-touch & {
			transition: none !important;
			opacity: 1 !important;
		}
	}

	img:hover {
		opacity: 1;
	}
}