/* ----------
Cedar DCX
- Promo List
---------- */

.promo-list {
	h3 {
		font-size: 150%;
		margin-bottom: 0.2em;

		@include mq(bp-m) {
			font-size: 250%;
		}
	}

	li {
		background-color: #fff;
	}

	.col:nth-child(odd) {
		position: relative;
	}

	.col:nth-child(odd):after {
		@include mq(bp-s) {
			content: "";
			width: 1px;
			background-color: #fff;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	span {
		position: absolute;
		display: block;
		text-align: center;
		width: 94%;
		top: 1em;
		opacity: 0;
		transition: opacity 100ms linear 0;

		// Remove transitions for touch devices
		.is-touch & {
			transition: none !important;
			opacity: 1;
			position: relative;
			width: 100%;
			top: 0;
			padding-bottom: 0.5em;
		}
	}

	.content {
		z-index: 5;
		background-color: #fff;
		width: 95%;
		position: relative;
		margin: -3.5em auto 0 auto;
		padding: 1em;
		transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);

		// Remove transitions for touch devices
		.is-touch & {
			transition: none !important;
			padding-top: 1em !important;
			margin-top: -3.5em !important;
		}

		@include mq(bp-m) {
			padding: 1em 1em 1.5em;
		}
	}

	.img-wrap {
		overflow: hidden;
	}

	a:hover,
	a:focus {
		.content {
			padding-top: 3em;
			margin-top: -5.5em;
		}

		span {
			opacity: 1;
			transition: opacity 200ms linear 200ms;
		}
	}
}

.img-zoom {
	display: block;
	transition: transform 200ms linear;
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	background-size: 100% auto;
	background-position: top left;

	// Remove transitions for touch devices
	.is-touch & {
		transition: none !important;
		transform: scale(1) !important;
	}

	a:hover & {
		transform: scale(1.05) rotate(0.02deg);
		transition: all 800ms linear;
	}
}