/* ----------
Cedar DCX
- Tweets
---------- */

.tweets {
	max-width: 1200px;
	margin: 0 auto 1em;
	align-items: center;

	@include mq(bp-m) {
		align-items: stretch;
	}

	p {
		font-size: 140%;
		line-height: 130%;
	}

	& > li {
		max-width: 500px;

		&:not(:last-child) {
			margin-bottom: 2em;

			@include mq(bp-m) {
				margin-bottom: 0;
			}
		}

		@include mq(bp-m) {
			padding: 0 2em;
		}
	}

	ul {
		margin: 0 auto;

		li {
			width: 33.3%;
		}

		li:first-child a {
			width: 18px;
			height: 13px;
			background: url("/images/reply-icon.svg") no-repeat center;
		}

		li:nth-child(2) a {
			width: 22px;
			height: 15px;
			background: url("/images/re-tweet-icon.svg") no-repeat center;
		}

		li:nth-child(3) a {
			width: 16px;
			height: 16px;
			background: url("/images/favourite-icon.svg") no-repeat center;
		}

		a {
			transition: opacity 300ms;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}