/* ----------
Cedar DCX
- White papers
---------- */

.whitepaper {
	padding-left: 1.5em;
	padding-right: 1.5em;

	& > div {
		flex-direction: column;

		@include mq(bp-s) {
			flex-direction: row;
		}
	}

	& > div:not(:last-child) {
		margin-bottom: 2em;
	}

	img {
		display: none;
		max-width: 250px;
		width: 100%;
		height: auto;
		margin-bottom: 1em;

		@include mq(bp-s) {
			display: block;
		}

		@include mq(bp-m) {
			margin-bottom: 0;
		}
	}

	p {
		margin-bottom: 1.5em;
	}

	a {
		display: block;
		margin: 0 auto;
		text-align: center;

		&:nth-of-type(1) {
			margin-bottom: 1.5em;

			@include mq(bp-s) {
				margin-left: 0;
			}

			@include mq(bp-m) {
				margin-bottom: 0;
			}
		}

		&:nth-of-type(2) {
			@include mq(bp-s) {
				text-align: left;
			}

			@include mq(bp-m) {
				margin-left: 2em;
			}
		}

		@include mq(bp-m) {
			display: inline-block;
		}
	}
}