﻿@model Cedar.Web.Infrastructure.Data.ViewModels.AwardsListVm

<!-- Awards (4 column grid) -->
<section class="awards col4 container no-bot-pad">
    <h2>@Model.Title</h2>
    <ul class="no-pad flex frow fwrap fjustcntr mobile-limit">
        @foreach (var award in Model.Awards)
        {
            var caseStudy = UmbracoContext.Current.ContentCache.GetById(award.CaseStudyLink);
            
            <li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
                <a href="@caseStudy.Url" class="text-center flex fcol fgrow1 width-100 primary-font">
                    <div class="lbl-name flex falgncntr">
                        <h3 class="text-upper default-font posrel colour-c">@award.Title</h3>
                    </div>
                    <div class="lbl-desc text-upper width-100 colour-c">@award.AwardTitle</div>
                    <div class="colour-g font110 padbot04 block fgrow1">@award.Client</div>
                    <div class="text-upper btn-primary-on-hover primary-font">@library.GetDictionaryItem("Read more")</div>
                </a>
            </li>
        }
    </ul>
    <button class="btn btn-primary marginbot2 button-reset mobile-only" data-type="load-more">@library.GetDictionaryItem("Load more")</button>
</section>
