﻿@model Cedar.Web.Infrastructure.Data.ViewModels.BannerVm

@if (!Object.ReferenceEquals(Model.Image, Umbraco.Core.Dynamics.DynamicNull.Null))
{
    <div class="img-container oflow-hidden desktop">
        @{ 
            String backgroundPosition = (Model.BackgroundPosition == null) ? "top center" : Model.BackgroundPosition;
        }
        <div style="background-image:url(@Model.Image); background-position:@backgroundPosition">
            <div class="ratio"></div>
        </div>
    </div>
    <div class="img-container mobile">
        <div style="background-image:url(@Model.MobileImage)" class="ratio"></div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.Title))
{
    <div class="tab posrel box-size">
        <div class="container max1000 no-side-pad cms">
            @if (!Object.ReferenceEquals(Model.Logo, Umbraco.Core.Dynamics.DynamicNull.Null))
            {
                <div class="logo-wrapper display-table marginbot1 width-100">
                    <div class="display-tcell valign-mid">
                        <img class="logo" src="@Model.Logo.Url" alt="@Model.Logo.Name">
                    </div>
                </div>
            }
            <h1>@Model.Title</h1>
            @if (!string.IsNullOrEmpty(Model.SubTitle))
            {
                <p class="subhead text-center primary-font">@Model.SubTitle</p>
            }
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.IntroText))
{
    <div class="container max1000">
        @Html.Raw(Model.IntroText)
    </div>
}
