﻿@model Cedar.Web.Infrastructure.Data.ViewModels.BannerWithLogoVm

@if (!string.IsNullOrEmpty(Model.Image))
{
    <div class="img-container oflow-hidden desktop">
        <div style="background-image:url(@Model.Image.Url)" class="bg-img-top ratio"></div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.MobileImage))
{
    <div class="img-container mobile">
        <div style="background-image:url(@Model.MobileImage.Url)" class="ratio"></div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.Title))
{
    <div class="tab posrel box-size">
        <div class="container max1000 no-side-pad">
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <div class="logo-wrapper display-table marginbot1 width-100">
                    <div class="display-tcell valign-mid">
                        <img class="logo" src="@Model.Logo.Url" alt="@Model.Logo.Name">
                    </div>
                </div>
            }
            <h1>@Model.Title</h1>
            @if (!string.IsNullOrEmpty(Model.SubTitle))
            {
                <p class="subhead text-center colour-g">@Model.SubTitle</p>
            }
        </div>
    </div>
}