﻿@using Cedar.UmbracoExtensions.Extensions
@model Cedar.Web.Infrastructure.Data.ViewModels.CarouselVm

@{
    var feedFilename = string.Format("/json/carousel{0}.json", Model.DataSourceId);
    var feedUrl = string.Format("/umbraco/surface/ComponentsSurface/JsonCarousel/{0}", Model.DataSourceId);
}

<section class="no-pad">
    <div class="carousel container oflow-hidden posrel" data-feed="@Url.GetJsonFeedUrl(feedFilename, feedUrl)"></div>
</section>
