﻿@model Cedar.Web.Infrastructure.Data.ViewModels.CaseStudiesListVm

<!-- Promo List -->
<section class="container col2 no-side-pad">
    <h2>@Model.Title</h2>
    <ul class="promo-list no-pad flex frow fwrap">
        @foreach (var caseStudy in Model.CaseStudies)
        {
            var img = UmbracoContext.Current.MediaCache.GetById(caseStudy.Image);

            <li class="text-center col box-size flex">
                <a href="@caseStudy.Url" class="fgrow1 flex fcol width-100">
                    <div class="img-wrapper-16-9 oflow-hidden">
                        <div class="img-zoom" style="background-image:url('@img.GetPropertyValue("UmbracoFile")?width=684&amp;height=385')"></div>
                    </div>
                    <div class="content box-size flex fcol fgrow1">
                        <span class="colour-d text-upper primary-font">@caseStudy.PrimarySite.Title</span>
                        <h3>@caseStudy.NavigationTitle</h3>
                        <p class="width-100 fgrow1">@caseStudy.Description</p>
                        <div class="btn btn-primary-on-hover">@library.GetDictionaryItem("Read More")</div>
                    </div>
                </a>
            </li>
        }
    </ul>
    @if (!Object.ReferenceEquals(Model.Link, Umbraco.Core.Dynamics.DynamicNull.Null))
    {
        <a href="@Model.Link.Url" class="btn btn-primary margintop2 marginbot1">@Model.LinkTitle</a>
    }
</section>
