﻿@model Cedar.Web.Infrastructure.Data.ViewModels.ClientsListVm

<!-- Logos (5 column grid) -->
<section class="logos container">
    <h2>@Model.Title</h2>
    <ul class="no-pad flex frow fwrap fjustcntr col5">
        @foreach (var client in Model.Clients)
        {
            var img = UmbracoContext.Current.MediaCache.GetById(client.Image);
            
            <li class="col flex fcol fjustcntr box-size">
                <span class="gray-to-colour">
                    <img src="@img.GetPropertyValue("UmbracoFile")?width=256&amp;height=140" srcset="@img.GetPropertyValue("UmbracoFile")?width=411&amp;height=225 2x" alt=" ">
                </span>
            </li>
        }
    </ul>
</section>