﻿@model Cedar.Web.Infrastructure.Data.ViewModels.CtaFollowVm

<section class="container text-center bg-grey footer-cta cta-social">
    <h2 class="colour-b">@library.GetDictionaryItem("More from Cedar")</h2>
    <ul class="social no-pad no-mar flex fjustcntr padtop05">
        @foreach (var link in Model.SocialLinks)
        {
            <li><a href="@link.Url" data-event-category="Social follow" data-event-action="@link.Name" data-event-label="CTA" target="_blank" class="@link.Class text-indent block circle">@link.Name</a></li>
        }
    </ul>
</section>
