﻿@model Cedar.Web.Infrastructure.Data.ViewModels.CtaMessageUsVm

<section class="container text-center bg-grey footer-cta posrel">
    <div class="extra-pad">
        <h2 class="colour-b">@library.GetDictionaryItem("CtaMessageUsTitle")</h2>
        <p>@Html.Raw(library.GetDictionaryItem("CtaMessageUsSummary"))</p>
        <button class="button-reset btn btn-primary panel1 margintop2" id="message-btn">@library.GetDictionaryItem("CtaMessageUsMessageButton")</button>

        <div id="contact-wrapper" class="accordion panel2 padright2 padleft2 box-size height-100 flex fcol fjustcntr">
            <form action="@Url.Action("Contact", "FormSurface")" id="contact-form" class="contact-form flex frow fwrap">
                <label class="box-size">
                    @Html.TextBoxFor(x => x.Name, new { @class = "box-size", @placeholder = library.GetDictionaryItem("CtaMessageUsNameLabel"), @required = "" })
                </label>
                <label class="box-size">
                    @Html.TextBoxFor(x => x.JobTitle, new { @class = "box-size", @placeholder = library.GetDictionaryItem("CtaMessageUsJobTitleLabel"), @required = "" })
                </label>
                <label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "box-size", @placeholder = library.GetDictionaryItem("CtaMessageUsJobEmailLabel"), @required = "" })
                </label>
                <label>
                    @Html.TextAreaFor(x => x.Message, new { @class = "box-size", @placeholder = library.GetDictionaryItem("CtaMessageUsJobMessageLabel"), @required = "" })
                </label>
                <input id="message-submit" type="submit" value="@library.GetDictionaryItem("CtaMessageUsSendButton")" class="button-reset btn btn-primary">
                <span id="contact-form-error" class="hide">@library.GetDictionaryItem("CtaMessageUsError")</span>
            </form>
        </div>
    </div>
    <div class="panel3 opacity0 posabsolute padright2 padleft2 box-size height-100 flex fcol fjustcntr">
        <h2 class="colour-b">@library.GetDictionaryItem("CtaMessageUsSuccessTitle")</h2>
        <p class="font180">@Html.Raw(library.GetDictionaryItem("CtaMessageUsSuccessSummary"))</p>
    </div>
</section>