﻿
<section id="footer-newsletter" class="container text-center bg-grey footer-cta posrel">
    <div id="footer-newsletter-form" class="panel1">
        <h2 class="colour-b">@library.GetDictionaryItem("CtaNewsletterTitle")</h2>
        <p class="font110 marginbot2">@Html.Raw(library.GetDictionaryItem("CtaNewsletterSummary"))</p>
        <form action="//cedarcommunicationsltd.createsend.com/t/j/s/tjhukk/" class="inline-form shadow" id="newsletter-signup">
            <label class="flex fgrow1"><input id="fieldEmail" type="email" placeholder="@library.GetDictionaryItem("CtaNewsletterEmailPlaceholder")" required></label>
            <input type="submit" value="@library.GetDictionaryItem("CtaNewsletterSignUpButton")" class="button-reset btn btn-primary" id="footer-newsletter-submit">
        </form>
    </div>
    <div id="footer-newsletter-fb" class="panel2 opacity0 posabsolute padright2 padleft2 box-size height-100 flex fcol fjustcntr">
        <h2 class="colour-b">@library.GetDictionaryItem("CtaNewsletterSuccessTitle")</h2>
        <p class="font180 no-mar">@Html.Raw(library.GetDictionaryItem("CtaNewsletterSuccessSummary"))</p>
    </div>
</section>