﻿@model Cedar.Web.Infrastructure.Data.ViewModels.FullWidthImageVm

<figure class="no-mar oflow-hidden posrel">
    <img src="@Model.Image.Url" srcset="/images/720x405.png 720w, @Model.Image.Url 1366w" sizes="100vw">
    <figcaption>@Model.Caption</figcaption>
</figure>