﻿@using Our.Umbraco.Vorto.Extensions
@model Cedar.Web.Infrastructure.Data.ViewModels.HomeBannerVm

<!-- Homepage Banner -->
<section id="home-banner" class="no-pad no-mar home-banner">
    <div class="posrel ratio">
        <h1 class="posabsolute text-indent">Cedar | Smart Content Marketing</h1>
            @{ 
                Boolean isMobile = false;
                var userAgent = HttpContext.Current.Request.UserAgent;
                if (userAgent != null && (userAgent.ToLower().Contains("iphone") || userAgent.ToLower().Contains("ipad") || userAgent.ToLower().Contains("android")))
                {
                    isMobile = true;
                }
            }
            @if (Model.DisplayVideo && !isMobile)
            {
                <video muted="muted" autoplay loop onplaying="this.controls=false;">
                    <source src="@Model.VideoBackgroundUrl" type="video/mp4">
                </video>
            }
            else
            {
                <div class="noautoplay-fallback">
                    <div class="img-container oflow-hidden desktop">
                        <div style="background-image: url(@Model.FallbackImage)" class="bg-img-top ">
                            <div class="ratio"></div>
                        </div>
                    </div>
                    <div class="img-container mobile">
                        <div style="background-image: url(@Model.FallbackImageMobile)" class="ratio"></div>
                    </div>
                </div>
            }
            <button id="hp-scroll" class="button-reset text-upper"></button>
        </div>
    <div>
        <span>@Html.Raw(Model.Title.Replace("\n", "<br>"))</span>
        <p>@Model.Summary</p>
        @if (Model.Link != null)
        {
            <a href="@Model.Link.Url" class="btn btn-primary">@Model.Link.GetVortoValue("NavigationTitle")</a>
        }
    </div>
</section>

@if (Model.FeaturedNews != null)
{
    <!-- News Bar -->
    <a class="news-strip text-center padtop1 padbot1 padleft1 padright1 block" href="@Model.FeaturedNews.Url"><span class="text-upper">@library.GetDictionaryItem("Latest news"):</span> @Model.FeaturedNews.GetVortoValue("NavigationTitle") <span class="text-upper">@library.GetDictionaryItem("Read more")</span></a>
}