﻿@model Cedar.Web.Infrastructure.Data.ViewModels.JobsListVm

<section class="no-top-pad no-pad">
    <div class="container max1000">
        <ul class="join">
            @foreach (var job in Model.Jobs)
            {
                <li>
                    <h2 class="accordion text-left no-mar">@job.JobTitle <span class="black">@job.Location</span></h2>
                    <div>@Html.Raw(job.Description)</div>
                </li>
            }
        </ul>
    </div>
</section>
