﻿@model Cedar.Web.Infrastructure.Data.ViewModels.MediaListVm

<section class="bg-grey no-mar">
    <div class="container">
        <h2>@Model.Title</h2>
        <ul class="col4-one-row no-pad flex media-list articles-list frow fwrap fjustcntr margintop1-5 margin-auto">
            @foreach (var mediaItem in Model.MediaItems)
            {
                var img = UmbracoContext.Current.MediaCache.GetById(mediaItem.Image);
                
                <li class="col flex box-size padleft05 padright05 marginbot1">
                    <a href="@mediaItem.Link" class="flex fcol" target="_blank">
                        <div class="img-wrapper-62-25 oflow-hidden">
                            <img src="@img.GetPropertyValue("UmbracoFile")?width=620&amp;height=250" />
                        </div>
                        <div class="padleft1 padright1 padbot1 flex fgrow1 fcol">
                            <span class="colour-d text-upper primary-font text-center font80 letter-spacing block padbot05">@mediaItem.Title</span>
                            <p class="fgrow1">@mediaItem.Summary</p>
                            <div class="btn-more text-center">
                                <div class="text-upper btn-primary-on-hover primary-font">@library.GetDictionaryItem("Read more")</div>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>