﻿@model Cedar.Web.Infrastructure.Data.ViewModels.OfficesListVm

<section class="max1000 margin-auto padleft1 padright1 contact">
    <h1>@Model.Title</h1>
    
    @{ var first = true; }
    @foreach (var office in Model.Offices)
    {
        var addressClass = "fgrow1";
        if (first) { first = false; } else { @Html.Raw("<hr>") }

        <section class="flex fwrap">
            <div class="col-1 padright2 text-left">
                <h2 class="no-mar">@office.Title</h2>
                @if (!string.IsNullOrEmpty(office.TimeZone))
                {
                    var timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById(office.TimeZone);
                    var time = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, timeZoneInfo);
                    <time datetime="@time.ToString("HH:mm")">Local time: @time.ToString("HH:mm")</time>
                }
            </div>

            @if (!string.IsNullOrEmpty(office.PostalAddress))
            {
                addressClass = "width-50";
                @Html.Raw("<div class=\"flex fgrow1 two-addresses\">")
            }
            
            <address class="@addressClass">
                @Html.Raw(office.OfficeAddress.Replace("\n", "<br>"))<br>
                <a href="@office.MapLink" target="_blank" class="text-upper map-link" data-event-category="Map mobile" data-event-action="@office.Title" data-event-label="Contact">Map</a><br>
                <a href="tel:@office.OfficePhone">@office.OfficePhone</a>
            </address>

            @if (!string.IsNullOrEmpty(office.PostalAddress))
            {
                <div class="width-50 box-sizing padleft1">
                    <h3 class="default-font text-left no-mar font100">Postal address</h3>
                    <address>
                        @Html.Raw(office.PostalAddress.Replace("\n", "<br>"))
                    </address>
                </div>
            }
                
            @if (!string.IsNullOrEmpty(office.PostalAddress))
            {
                @Html.Raw("</div>")
            }
            
            <div class="col-3">
                <h3 class="default-font text-left no-mar font100">New business</h3>
                @Html.Raw(office.ContactDetails.Replace("\n", "<br>"))<br>
                <a href="mailto:@office.ContactEmail">@office.ContactEmail</a><br>
                <a href="tel:@office.ContactPhone">@office.ContactPhone</a>
            </div>
            <div class="map-wrapper width-100" data-map-lat="@office.Latitude" data-map-lng="@office.Longitude"></div>
        </section>
    }
</section>