﻿@using System.Globalization
@using Cedar.UmbracoExtensions.Extensions
@model Cedar.Web.Infrastructure.Data.ViewModels.PeopleListVm

@{
    var feedFilename = string.Format("/json/people{0}_{1}.json", Model.DataSourceId, CultureInfo.CurrentCulture.Name);
    var feedUrl = string.Format("/umbraco/surface/ComponentsSurface/JsonPeopleList/{0}_{1}", Model.DataSourceId, CultureInfo.CurrentCulture.Name);
}

<!-- Grid with inlined details panel (4 column grid) -->
<div id="details-grid" class="mobile-limit" data-heading="@Model.Title" data-primarystyles="details-grid col4 no-bot-pad marginbot0" data-secondarystyles="img-wrapper-square circle" data-feed="@Url.GetJsonFeedUrl(feedFilename, feedUrl)" data-readmore-label="@library.GetDictionaryItem("Read more")"></div>
<button class="btn btn-primary marginbot2 button-reset mobile-only grid-btn" data-type="load-more" data-event-category="CTA mobile" data-event-action="Key people load more">@library.GetDictionaryItem("Load more")</button>
<hr>
