﻿@model Cedar.Web.Infrastructure.Data.ViewModels.ServicesListVm

<!-- Grid with inlined details panel (4 column grid) -->
<div id="details-grid" data-primarystyles="details-grid col4 no-pad no-mar" data-secondarystyles="img-wrapper-16-9" data-feed="/umbraco/surface/ComponentsSurface/JsonServicesList/@Model.DataSourceId">
    <!-- Add any React generated classes here so that PurifyCSS doesn't remove them -->
    <span class="react-anim-accordion-enter react-anim-accordion-enter-active react-anim-accordion-leave react-anim-accordion-leave-active"></span>
</div>

@{ ViewBag.React = "true"; }