﻿@model Cedar.Web.Infrastructure.Data.ViewModels.TechnologiesListVm

<section class="no-pad no-mar">
    <div class="container max1000 box-size padleft1 padright1">
        <h2>@Model.Title</h2>
        <div class="col3 flex fwrap fjustcntr frow headings-small padbot0 sidemargin-neg1 no-bullets text-center partners">
            @foreach (var tech in Model.Technologies)
            {
                var img = UmbracoContext.Current.MediaCache.GetById(tech.Logo);
                
                <div class="col padleft1 padright1 marginbot1 box-size">
                    <img src="@img.GetPropertyValue("UmbracoFile")?height=180" alt="">
                    @Html.Raw(tech.Content)
                </div>
            }
        </div>

    </div>
</section>
