﻿@using Our.Umbraco.uTwit
@model Cedar.Web.Infrastructure.Data.ViewModels.TweetsListVm

<section class="container">
    <h2>@Model.Title</h2>
    <ul class="flex tweets margin-auto col3sm">
        @foreach (var tweet in Model.Tweets)
        {
            <li class="flex col fcol box-size">
                <div class="colour-d text-center marginbot0-5 primary-font">@uTwit.FormatDate(tweet.CreatedAt)</div>
                <p class="fgrow1" data-tweet="text">@tweet.LinkifiedText</p>
                <ul class="flex frow width-100">
                    <li>
                        <a href="https://twitter.com/intent/tweet?in_reply_to=@tweet.Id" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Reply">Reply</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/intent/retweet?tweet_id=@tweet.Id" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Retweet">Re-Tweet</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/intent/like?tweet_id=@tweet.Id" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Like">Like</a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</section>