﻿@model Cedar.Web.Infrastructure.Data.ViewModels.WhitePapersListVm

<section class="whitepaper container max1000 box-size">
    <h2>@Model.Title</h2>
    @foreach (var whitePaper in Model.WhitePapers)
    {
        var img = UmbracoContext.Current.MediaCache.GetById(whitePaper.Thumb);
        var download = UmbracoContext.Current.MediaCache.GetById(whitePaper.Download);
        var article = UmbracoContext.Current.ContentCache.GetById(whitePaper.RelatedArticle);
        
        <div class="flex">
            <div class="img-wrap padright1">
                <img src="@img.GetPropertyValue("UmbracoFile")?width=500&amp;height=500" alt="">
            </div>
            <div>
                <h3 class="text-left font140">@whitePaper.Title</h3>
                <p>@whitePaper.Summary</p>
                @if (download != null)
                {
                    <a href="@download.GetPropertyValue("UmbracoFile")" target="_blank" class="btn btn-primary inline-block">@library.GetDictionaryItem("Download")</a>
                }
                @if (article != null)
                {
                    <a href="@article.Url" class="text-upper inline-block primary-font">More about this whitepaper</a> @* TO DO *@
                }
            </div>
        </div>
    }
</section>
