﻿@inherits UmbracoViewPage<dynamic>
@using Newtonsoft.Json.Linq

@{
    // ugly code but had to put this in a try block because I couldn't figure out how to check the property exists!
    var hasSections = false;
    try
    {
        if (Model.sections != null)
        {
            hasSections = true;
        }
    }
    catch { }
}

@if (hasSections)
{
    foreach (var section in Model.sections)
    {
        var rowCount = 0;
        foreach (var row in section.rows)
        {
            rowCount++;
            @RenderRow(row, rowCount);
        }
    }
}

@helper RenderRow(dynamic row, int rowNumber){
    var padding = (rowNumber == 1) ? "padtop2 padbot3" : "padtop4 padbot4";

    <div @RenderElementAttributes(row)>

        @{
            var areas = ((System.Collections.ICollection)row.areas);
            if (areas.Count == 1)
            {
                foreach (var area in row.areas)
                {
                    foreach (var control in area.controls)
                    {
                        if (control != null && control.editor != null && control.editor.view != null)
                        {
                            if (control.editor.view == "macro")
                            {
                                <text>@Html.Partial("grid/editors/base", (object)control)</text>
                            }
                            else
                            {
                                <section class="margin-auto max1000 box-size narrower padleft1 padright1 cms">
                                    @Html.Partial("grid/editors/base", (object)control)
                                </section>
                            }
                        }
                    }
                }
            }
            else
            {

                <div class="container col2m flex frow fwrap text-left max1000 box-size padleft1 padright1 col2-text">
                    @foreach (var area in row.areas)
                    {
                        @Umbraco.If(areas.Count > 1, "<div class=\"col box-size\">")

                        foreach (var control in area.controls)
                        {
                            if (control != null && control.editor != null && control.editor.view != null)
                            {
                                <text>@Html.Partial("grid/editors/base", (object)control)</text>
                            }
                        }
                        @Umbraco.If(areas.Count > 1, "</div>")
                    }
                </div>
            }
        }
        
    </div>
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
        {
            foreach (JProperty property in cfg.Properties())
            {
                attrs.Add(property.Name + "=\"" + property.Value.ToString() + "\"");
            }
        }

        JObject style = contentItem.styles;

        if (style != null) 
        { 
            var cssVals = style.Properties().Select(property => property.Name + ":" + property.Value.ToString() + ";").ToList();
            if (cssVals.Any())
            {
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
            }
        }
            
        return new MvcHtmlString(string.Join(" ", attrs));
    }
}