﻿@inherits UmbracoViewPage<dynamic>
@using Newtonsoft.Json.Linq

@{
    // ugly code but had to put this in a try block because I couldn't figure out how to check the property exists!
    var hasSections = false;
    try
    {
        if (Model.sections != null)
        {
            hasSections = true;
        }
    }
    catch { }
}

@if (hasSections)
{
    foreach (var section in Model.sections)
    {
        var rowCount = 0;
        foreach (var row in section.rows)
        {
            rowCount++;
            @RenderRow(row, rowCount)
        }
    }
}

@helper RenderRow(dynamic row, int rowNumber){
    var padding = (rowNumber == 1) ? "padtop2 padbot3" : "padtop4 padbot4";
    var areas = ((System.Collections.ICollection)row.areas);
    
    // check for macro
    if (areas.Count == 1)
    {
        foreach (var area in row.areas)
        {
            if (area.controls.Count == 1)
            {
                var control = area.controls[0];
                if (control.editor.alias == "macro")
                {
                    <text>@Html.Partial("grid/editors/base", (object)control)</text>
                    return;
                }
                else if (control.editor.alias == "quote")
                {
                    <section @RenderElementAttributes(row, padding + " marginbot0 mob-pad cms")>
                        <div class="container max1000 box-size padleft1 padright1">
                            @Html.Partial("grid/editors/base", (object)control)
                        </div>
                    </section>
                    return;
                }
            }
        }
    }

    <section @RenderElementAttributes(row, padding + " marginbot0 mob-pad cms")>
        @{
            if (areas.Count == 1)
            {
                foreach (var area in row.areas)
                {
                    <div class="container text-left max1000 box-size padleft1 padright1 col2-text">
                        @foreach (var control in area.controls)
                        {
                            if (control != null && control.editor != null && control.editor.view != null)
                            {
                                <text>@Html.Partial("grid/editors/base", (object)control)</text>
                            }
                        }
                    </div>
                }
            }
            else
            {
                
                <div class="container col2m flex frow fwrap text-left max1000 box-size padleft1 padright1 col2-text">
                    @foreach (var area in row.areas)
                    {
                        @Umbraco.If(areas.Count > 1, "<div " + RenderElementAttributes(area, "col box-size") + ">")

                        foreach (var control in area.controls)
                        {
                            if (control != null && control.editor != null && control.editor.view != null)
                            {
                                <text>@Html.Partial("grid/editors/base", (object)control)</text>
                            }
                        }
                        @Umbraco.If(areas.Count > 1, "</div>")
                    }
                </div>
            
            }
        }
    </section>
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem, string css)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
        {
            var properties = cfg.Properties().Where(p => p.Value.ToString() != "default").Select(x => new { Name = x.Name.Replace("class2", "class"), Value = x.Value.ToString() }).ToList();
            properties.Add(new { Name = "class", Value = css });

            foreach (var property in properties.GroupBy(p => p.Name))
            {
                attrs.Add(property.Key + "=\"" + string.Join(" ", property.Select(x => x.Value)) + "\"");
            }
        }
        else
        {
            attrs.Add("class=\"" + css + "\"");
        }

        JObject style = contentItem.styles;

        if (style != null) 
        { 
            var cssVals = style.Properties().Select(property => property.Name + ":" + property.Value.ToString() + ";").ToList();
            if (cssVals.Any())
            {
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
            }
        }
            
        return new MvcHtmlString(string.Join(" ", attrs));
    }
}