﻿@inherits UmbracoViewPage<dynamic>
@using Umbraco.Web.Templates
@using Newtonsoft.Json.Linq

@* 
    Razor helpers located at the bottom of this file
*@

@if (Model != null && Model.sections != null)
{
    foreach (var section in Model.sections)
    {
        var rowCount = 0;
        foreach (var row in section.rows)
        {
            @renderRow(row, rowCount++);
        }
    }
}

@helper renderRow(dynamic row, int rowNumber){

    <section class="no-top-pad no-pad">
        @{
            var areas = ((System.Collections.ICollection)row.areas);
            if (areas.Count == 1)
            {
                foreach (var area in row.areas)
                {
                    foreach (var control in area.controls)
                    {
                        if (control != null && control.editor != null && control.editor.view != null)
                        {
                            <div class="container max1000">
                                @Html.Partial("grid/editors/base", (object)control)
                            </div>

                        }
                    }
                }
            }
            else
            {

                foreach (var area in row.areas)
                {
                    @Umbraco.If(areas.Count > 1, "<div class=\"col box-size\">")

                    foreach (var control in area.controls)
                    {
                        if (control != null && control.editor != null && control.editor.view != null)
                        {
                            <div class="container max1000">
                                <text>@Html.Partial("grid/editors/base", (object)control)</text>
                            </div>
                        }
                    }
                    @Umbraco.If(areas.Count > 1, "</div>")
                }
            }
        }
    </section>
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
        {
            foreach (JProperty property in cfg.Properties())
            {
                attrs.Add(property.Name + "=\"" + property.Value.ToString() + "\"");
            }
        }

        JObject style = contentItem.styles;

        if (style != null) 
        { 
            var cssVals = style.Properties().Select(property => property.Name + ":" + property.Value.ToString() + ";").ToList();
            if (cssVals.Any())
            {
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
            }
        }
            
        return new MvcHtmlString(string.Join(" ", attrs));
    }
}