/* ----------
Cedar DCX
- SASS Variables
---------- */

/* Colours */
// $core-colour-a:   		#df1e54; // Red
// $core-colour-b:   		#af2046; // Dark Red
// $core-colour-c:   		#284d8a; // Blue
// $core-colour-d:   		#f9ac62; // Orange
// $core-colour-e:         #483a3a; // Brown
// $core-colour-f:         #322525; // Dark Brown
// $core-colour-g:			#4f8cbb; // Light Blue
// $grey1:					#f2f3f3;
// $grey2:					#ccc;
// $grey3:					#aaa;
// $grey4:					#5d5667;
// $grey5:					#808080;
// $grey6:					#ddd;
// $body-font-colour:  	#666;
// $tag-color: 			$core-colour-c;
// $noir:					#000;

$core-colour-a: #b30838; // Red
//$core-colour-b: #af2046; // Dark Red
$core-colour-c: #005984; // Blue
$core-colour-d: #d3a809; // Gold
$core-colour-e: #483a3a; // Brown
$core-colour-f: #322525; // Dark Brown
$core-colour-g: #4f8cbb; // Light Blue
$grey1: #f2f3f3;
$grey2: #ccc;
$grey3: #aaa;
$grey4: #5d5667;
$grey5: #808080;
$grey6: #ddd;
$body-font-colour: #000;
$tag-color: $core-colour-c;

/* Site fonts */
$site-primary-font: "universcondensed";
$site-secondary-font: "universboldcondensed";
$site-tertiary-font: "universcondensedoblique";
$fallback-font: "Arial", sans-serif;

/* Easing */
$accordion-up: cubic-bezier(0.19, 1, 0.22, 1);
$accordion-down: cubic-bezier(0, 0, 1, 0);
