<ul class="unstyled">
    <li ng-repeat="preval in model.prevalues">
	<label class="checkbox" title="{{preval.description}}">
		<input type="radio" ng-model="model.value" value="{{preval.value}}" /> {{preval.label}}
	</label>
    </li>
</ul>