/* Page Structure*/

/* TOC

1: - Main Page Structure

2: - Header

3: - Content

*/


/* 1-:-------- Main Page Structure ------------ */

	html, body, form {
		margin:0;
		padding:0;
	}

	
	body {
		background-color: #fcfcfc;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 12px;
		line-height: 160%;
		color: #3e3e3e;
		}
	
	#wrapper {
		width: 886px;
		background-color:#fff;
		margin: 0px auto;
		padding: 0;
	}
		
	#container {
		border-left:1px solid #f1efef;
		border-right:1px solid #f1efef;
		padding: 0 80px 50px 80px;
		background-color:#fff;
		width: 726px;
		margin: 0;
		float:left;
		}

	.clear {
		clear: both;
		}
		
		
/* 2-:-------- Header ------------ */
	
	#header {
		width:726px;
		float:left;
		margin:0 0 30px 0;
		padding:35px 0 15px 0;
		border-bottom:1px solid #dedede;
	}
	
	.logo {
		width:239px;
		height:61px;
		float:left;
	}
	
	.logo img {
		border:none;
	}
	
	#header h1 {
		background: url(../images/h-subscription-form.gif) left top no-repeat;
		text-indent:-9999px;
		width:252px;
		height:36px;
		float:right;
		margin:5px 0 0 0;
	}

	
/* 3-:-------- Content ------------ */


	.leftCol {
		width:473px;
		float:left;
		margin:0 25px 0 0;
	}

	.rightCol {
		width:228px;
		padding:0;
		float:right;
	}
	
	h2 {
		text-transform:uppercase;
		font-size:1.3em;
		margin:0 0 15px 0;
		padding:0;
		color:#19456a;
		font-weight:normal;
	}
	
	.terms {
		margin-top:35px;
	}
	
	.terms h4 {
		margin-bottom:0;
		color:#888;
		font-size:0.9em;
	}
	
	.terms p {
		color:#888;
		font-size:0.85em;
		margin:4px 0;
		line-height:150%;
	}
	
	p.smaller {
		font-size:0.9em;
	}	
	
	p.smallest {
		font-size:0.85em;
	}	
	
	form, fieldset {
		padding:0;
		margin:0;
		border:none;
	}
	
	form {
		margin:35px 0 0 0;
	}
		
	fieldset {
		padding:20px 0 15px 0;
		border-top:1px solid #e2ebf5;
		font-size:0.9em;
	}
	
	fieldset.creditCardDetails {
		background-color:#f7f7f7;
		padding:15px 15px 10px 15px;
		margin:5px 0 10px 152px;
		border:none;
		font-size:0.95em;
	}
	
	label {
		font-weight:bold;
		width:142px;
		display:block;
		float:left;
		margin:0 0 10px 10px;
		vertical-align:middle;
		_margin-left:4px;
	}
	
		.clearLeft{
		clear: left;
	}

	
	.creditCardDetails label {
		width:138px;
		margin-left:0;
		color:#365e7e;
	}
	
	.creditCardDetails label em {
		font-weight:normal;
		font-style:normal;
		line-height:110%;
		display:block;
		font-size:0.85em;
		padding:0 10px 2px 0;
		color:#647f94;
	}
	
	.creditCardDetails label em a {
		color:#647f94;
	}
	
	.creditCardDetails label em a:hover {
		color:#365e7e;
	}
	
	.creditCardDetails label em a cite {
		display:none;
		padding:10px 160px 10px 10px;
		position:absolute;
		left:70px;
		top:20px;
		width:180px;
		z-index:101;
		line-height:150%;
		font-style:normal;
		background: #dceafa url(../images/ccv-information.gif) right 10px no-repeat;
	}
	
	.creditCardDetails label em a:hover cite {
		display:block;
	}
	
	.creditCardDetails label em a cite img {
		float:right;
		margin:0 0 0 10px;
		border:0;
	}
	
	.creditCardDetails .ccvNumber {
		position:relative;
		clear:left;
	}
	
	.creditCardDetails span {
		display:none;
		position:absolute;
		left:-10000px;
	}
	
	label a {
		color:#19456A;
	}
	
	label a:hover {
		color:#000;
	}
	
	input, select {
		width:204px;
		background-color:#fff;
		border:1px solid #e2ebf5;
		padding:3px;
		margin:0 90px 10px 0;
		color:#19456a;
		vertical-align:middle;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	
	.creditCardDetails input {
		width:138px;
		font-size:0.9em;
		margin:0 0 10px 0;
	}
	
	.creditCardDetails select {
		width:146px;
		font-size:0.9em;
		margin:0 0 12px 0;
	}
	
	.creditCardDetails select.expiryMonth {
		width:84px;
	}
	
	.creditCardDetails select.expiryYear {
		width:57px;
	}
	
	.creditCardDetails .cardHolderName {
		margin-bottom:31px;
	}
	
	.creditCardDetails .issueNo {
		margin-bottom:60px;
	}
	
	input.smallInput {
		width:15px;
		background-color:#fff;
		border:none;
		padding:0;
		margin:0 0 10px 0;
		float:left;
	}
	
	label.smallLabel {
		color:#19456a;
		font-weight:normal;
		width:290px;
		display:block;
		margin:0 0 11px 5px;
		padding:0;
		line-height:120%;
		_line-height:170%;
		*line-height:170%;
	}
	
	.subscriptionLength {
		width:310px;
		height:45px;
		margin:3px 0 10px 152px;
	}
	
	.subscriptionLength .smallInput, .subscriptionLength .smallLabel {
		line-height:120%;
		margin-top:0;
	}
	
	.subscriptionLength .smallInput {
		margin-bottom:0;
	}
	
	select {
		width:212px;
	}
	
	select.titleSelect {
		width:70px;
		margin-right:135px;
	}
	
	input.addressLine2 {
		clear:left;
		margin-left:152px;
	}
	
	input.submitForm {
		width:184px;
		border:none;
		height:0px;
		_height:30px;
		*height:30px;
		padding:30px 0 0 0;
		background: url(../images/btn-subscribe.gif) left top no-repeat;
		overflow:none;
		margin-bottom:0;
	}
	
	.submit p {
		margin:0 0 6px 0;
		
		font-size:0.9em;
	}
	
	input.submitForm:hover {
		background-position:0 -30px;
		cursor:pointer;
	}
	
	.rightColPanel {
		background: url(../images/panel-bottom.gif) left bottom no-repeat;
		width:228px;
		font-size:0.9em;
		float:left;
		margin:0 0 20px 0;
		padding:0 0 15px 0;
	}
	
	.rightColPanel h3 {
		color:#19456a;
		font-size:1.3em;
		font-weight:bold;
		padding:18px 10px 20px 60px;
		margin:0;
		width:158px;
		display:block;
		height:10px;
	}
	
	.panelHelp h3 {	background: url(../images/panel-top-help.gif) left top no-repeat;	}
	.panelPayment h3 {	background: url(../images/panel-top-check.gif) left top no-repeat;	}
	
	.rightColPanel p {
		padding:6px 14px;
		margin:0;
		line-height:140%;
	}
	
	.rightColPanel ul {
		margin:0;
		padding:0;
		list-style-type:none;
	}
	
	.rightColPanel ul li {
		list-style-type:none;
		background: url(../images/icon-arrow.gif) 15px 6px no-repeat;
		padding:0 14px 0 27px;
		margin:6px 0 6px 0;
		font-size:0.85em;
		line-height:150%;
		color:#4f4f4f;
		float:left;
	}
	
	#failMessage span,
	.rightColPanel ul li span {
		color:#275073;
		font-size:1.2em;
		font-weight:bold;
		line-height:170%;
	}
	
	.rightColPanel ul li span em {
		font-weight:normal;
		font-style:normal;
	}
	
	#failMessage a,
	.rightColPanel .highlight, .rightColPanel a {
		font-weight:bold;
		color:#275073;
		text-decoration:none;
	}
	
	#failMessage a:hover,
	.rightColPanel a:hover {
		text-decoration:underline;
	}
	
	#failMessage,
	#errorMessage {
		color:#cd0909;
		padding:15px;
		border:1px solid #cd0909;
		margin:0 0 30px 0;
	}
	
	#errorMessage p {
		font-weight:bold;
		font-size:1.2em;
		border:none;
		padding:0;
		margin:0 0 10px 0;
	}
	
	#errorMessage ul {
		margin:0;
		padding:0;
		list-style-type:none;
	}
	
	#errorMessage ul li {
		list-style-type:none;
		background: url(../images/icon-arrow-error.gif) 0 6px no-repeat;
		padding:0 0 0 12px;
		margin:6px 0 6px 0;
	}
	
	#successMessage	{
		color:#275073;
		padding:15px;
		border:1px solid #275073;
		margin:0 0 30px 0;		
	}
	
	#successMessage p {	
		font-size:1.2em;
	}

	p.beforeSubmit {
		font-size:1em;
		margin-left:10px;
	}
	.pointers {
		margin:0 0 1em;
		list-style:disc;
		padding-left:3em;
	
	}
	.terms a { color:#19456A;}