<div>
    <textarea rows="1"
        umb-auto-resize
        umb-auto-focus
        class="textstring input-block-level" id="{{control.uniqueId}}_text"
        ng-model="control.value"
        ng-attr-style="{{control.editor.config.style}}" localize="placeholder" placeholder="@grid_placeholderWriteHere"></textarea>
    <textarea rows="1"
        umb-auto-resize
        umb-auto-focus
        class="textstring input-block-level" id="{{control.uniqueId}}_textSource"
        ng-model="control.source"
        ng-attr-style="{{control.editor.config.sourcestyle}}" localize="placeholder" placeholder="Quote source"></textarea>
</div>
