﻿@model Cedar.Web.Infrastructure.Data.ViewModels.FooterVm

<footer>
    <div class="logo-strip cedar-logo"></div>

    <div class="footer-contact bg-e">
        <div class="container col4sm padtop1 flex frow fwrap max1000">
            <div class="col padbot1 box-size">
                <span class="follow"><strong>@umbraco.library.GetDictionaryItem("Follow us")</strong></span>
                <ul class="social no-pad no-mar flex">
                    @foreach (var link in Model.SocialLinks)
                    {
                        <li><a href="@link.Url" target="_blank" class="@link.Class text-indent block circle" data-event-category="Social follow" data-event-action="@link.Name" data-event-label="Footer">@link.Name</a></li>
                    }
                </ul>
            </div>
            @foreach (var office in Model.Offices.Select((data, i) => new { data, i }))
            {
                var opened = (office.i == 0) ? "opened" : string.Empty;
                <address class="col padbot1 posrel @opened box-size flex fcol">
                    <span class="accordion" data-accordion="footer"><strong>@office.data.Title</strong></span>
                    <div class="wrap oflow-hidden flex fcol fgrow1">
                        <p class="address no-mar fgrow1">@Html.Raw(office.data.OfficeAddress.Replace("\n", "<br>"))</p>
                        <p class="no-mar map"><a href="@office.data.MapLink" target="_blank" class="text-upper" data-event-category="Map" data-event-action="@office.data.Title" data-event-label="Footer">Map</a></p>
                        <p class="no-mar"><a href="tel:@office.data.OfficePhone">@office.data.OfficePhone</a></p>
                    </div>
                </address>
            }
        </div>
    </div>

    <nav class="bg-f">
        <ul class="container max1000 no-pad padleft15 padright1 hygiene text-center">
            @foreach (var link in Model.TopLinks)
            {
                <li class="inline-block padleft1 padright1"><a href="@link.Link.Url">@link.Name</a></li>
            }
        </ul>
    </nav>

    <ul class="container max1000 hygiene pad1 text-center small">
        <li class="inline-block padright1">&copy; @DateTime.Now.Year Cedar Communications Ltd</li>
        @foreach (var link in Model.BottomLinks)
        {
            <li class="inline-block padleft1 padright1"><a href="@link.Link.Url">@link.Name</a></li>
        }
        <li class="inline-block padleft1 padright1">@library.GetDictionaryItem("Site by Cedar DCX")</li>
    </ul>
    <script type="text/javascript">
        _linkedin_partner_id = "1256554";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
            </script>
            <script type="text/javascript">
        (function(){var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})();
            </script>
            <noscript>
                <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1256554&fmt=gif" />
    </noscript>

</footer>