﻿@using Our.Umbraco.Vorto.Extensions
@model Cedar.Web.Infrastructure.Data.ViewModels.HeaderVm

<header>
    <div id="overlay-bg"></div>
    <div id="top-bar" class="top-bar flex frow no-pad">
        <a href="@Model.LocalizedHomeUrl" class="cedar-logo mobile-border block text-indent" data-event-category="Cedar logo" data-event-action="Logo clicked">Cedar Homepage</a>
        <div id="loc-wrap" class="loc-wrap flex fgrow1">
            <button id="loc-btn" class="button-reset fgrow1 text-center block">@Model.SiteTitle</button>
            <nav id="loc-nav" class="flex">
                <ul class="flex frow no-pad no-mar">
                    @foreach (var site in Model.Sites.Where(x => x.Url.Contains("www")))
                    {                        
                        <li><a href="@site.Url" class="text-center block">@site.Title</a></li>
                    }
                </ul>
            </nav>
        </div>
        <nav id="main-nav" class="flex">
            <ul class="flex frow no-pad no-mar">
                @foreach (var link in Model.HeaderLinks)
                {
                    <li><a href="@link.Link.Url" class="text-center block @link.Class">@link.Link.GetVortoValue("NavigationTitle")</a></li>
                }
                <li><button id="menu-btn" class="button-reset text-center block">@library.GetDictionaryItem("Menu") <span></span></button></li>
            </ul>
        </nav>
        <button id="follow-btn" class="button-reset text-center block">@library.GetDictionaryItem("Follow")</button>
        <div id="follow" class="text-center padtop1 padbot2">
            <div class="flex fcol">
                <p>@library.GetDictionaryItem("More from Cedar")</p>
                <ul id="animate-social" class="social no-pad no-mar flex frow fjustcntr">
                    @foreach (var link in Model.SocialLinks)
                    {
                        <li><a href="@link.Url" data-event-category="Social follow" data-event-action="@link.Name" data-event-label="Header" target="_blank" class="@link.Class text-indent block circle">@link.Name</a></li>
                    }
                </ul>
                <div id="feedback" class="colour-b hide">@Html.Raw(library.GetDictionaryItem("CtaNewsletterSuccessTitle")) <span>@Html.Raw(library.GetDictionaryItem("CtaNewsletterSuccessSummary"))</span></div>
                @*<form action="//cedarcommunicationsltd.createsend.com/t/j/s/tjhukk/" class="padtop2" id="nav-form">
                    <label for="newsletter">@Html.Raw(library.GetDictionaryItem("CtaNewsletterSummary"))</label>
                    <input type="email" id="newsletter" name="newsletter" placeholder="@library.GetDictionaryItem("CtaNewsletterSummary")" required>
                    <input type="submit" id="nav-submit" value="@library.GetDictionaryItem("CtaNewsletterSubmitButton")" class="button-reset btn btn-primary no-shadow">
                </form>*@
            </div>
            <div class="nav-shadow"></div>
        </div>
        <div id="mob-close" class="mob-close bg-b">
            <button id="close-btn" class="button-reset grey-rollover">close</button>
        </div>
    </div>
</header>	
