﻿@model Cedar.Web.Infrastructure.Data.Models.Interface.IShareable

<div class="share text-center">
    <span class="colour-lgrey">@library.GetDictionaryItem("Share this article")</span>
    <ul class="social no-pad no-mar flex fjustcntr padtop05">
        <li><a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=page&href=@Server.UrlEncode(HttpContext.Current.Request.Url.ToString())" target="_blank" class="facebook-logo text-indent block circle">Facebook</a></li>
        <li><a href="https://twitter.com/intent/tweet?text=@Server.UrlEncode(Model.Title)&url=@Server.UrlEncode(HttpContext.Current.Request.Url.ToString())&via=cedarcontent" target="_blank" class="twitter-logo text-indent block circle">Twitter</a></li>
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=@Server.UrlEncode(HttpContext.Current.Request.Url.ToString())&title=@Server.UrlEncode(Model.Title)" target="_blank" class="linkedin-logo text-indent block circle">LinkedIn</a></li>
        <li><a href="mailto:?subject=Useful link on Cedar website&body=I found this page on the Cedar website and thought you might find it interesting: @Server.UrlEncode(HttpContext.Current.Request.Url.ToString())" class="email text-indent block circle">Email</a></li>
    </ul>
</div>
