﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Cedar.Web.Infrastructure.Data.Models.Error404Model>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Type = "website";
}

@section PriorityStyles
{}

<section class="container max1000 text-center page404">
    <h1>@Model.Title</h1>
    <p class="subhead primary-font">@Model.SubTitle</p>
    @Html.Raw(Model.IntroText)
</section>
 