<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<meta name="description" content="XXXX Add site description here XXXX">
	<title>{{title}} | Cedar | Smart Content Marketing</title>

	<meta property="og:url" content="http://www.cedarcom.co.uk/page-name/" />
	<meta property="og:type" content="website" /> <!-- Make this value "article" on news articles -->
	<meta property="og:title" content="Page title goes here" />
	<meta property="og:description" content="XXXX Add site description here XXXX" />
	<meta property="og:image" content="http://www.cedarcom.co.uk/images/woman-holding-snowglobe.jpg" />
	<!-- For image above, use the page's banner image. If one is not set, use /images/logo-banner.png instead -->

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@cedarcontent">
	<meta name="twitter:creator" content="@cedarcontent">
	<meta name="twitter:title" content="Page title goes here">
	<meta name="twitter:description" content="XXXX Add site description here XXXX">
	<meta name="twitter:image" content="http://www.cedarcom.co.uk/images/woman-holding-snowglobe.jpg">
	<!-- For image above, use the page's banner image. If one is not set, use /images/logo-banner.png instead -->

	<meta name="theme-color" content="#df1e54">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/images/icon-logo.png">
	<link rel="apple-touch-icon" href="/images/icon-logo.png">
	<meta name="apple-mobile-web-app-title" content="Cedar">

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	{{#if inlineCritical}}
		<link rel="preload" href="/styles/style.min.css" as="style">
		<style>{{> (lookup . 'criticalPartial') }}</style>
		<noscript data-css-path="/styles/style.min.css">
			<link rel="stylesheet" href="/styles/style.min.css">
		</noscript>
	{{else}}
		<link rel="stylesheet" href="/styles/style.min.css">
	{{/if}}

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-12426975-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<!-- Add .is-touch class to the <body> depending on User Agent (iOS or Android) -->

<body>
	<div class="page-wrapper oflow-hidden">
		{{> header}}
		<div class="nav-offset"> 
		{{> body}}
		</div>
		{{> footer}}
	</div>

	{{#if type.deploy}}
		{{#if react}}
			<script src="/scripts/react-lib/react-with-addons.min.js"></script>
			<script src="/scripts/react-lib/react-dom.min.js"></script>
			{{#if slick}}
				<script src="/scripts/react-lib/react-slick.min.js"></script>
			{{/if}}
		{{/if}}
		{{#if map}}
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1McX_HRYIXkCKc9enLajQNf8fWh52UHs"></script>
		{{/if}}
		{{#if twitterIntents}}
			<script src="//platform.twitter.com/widgets.js" async></script>
		{{/if}}
		<script src="/scripts/script.min.js" async></script>
	{{else}}
		{{#if react}}
			<script src="/scripts/react-lib/react-with-addons.js"></script>
			<script src="/scripts/react-lib/react-dom.js"></script>
			{{#if slick}}
				<script src="/scripts/react-lib/react-slick.min.js"></script>
			{{/if}}
		{{/if}}
		{{#if map}}
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1McX_HRYIXkCKc9enLajQNf8fWh52UHs"></script>
		{{/if}}
		{{#if twitterIntents}}
			<script src="//platform.twitter.com/widgets.js" async></script>
		{{/if}}
		<script src="/scripts/script.js" async></script>
	{{/if}}
</body>
</html>