/* ----------
Cedar DCX
- Buttons SCSS
---------- */

.btn {
	display: block;
	width: 12em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0.6em;
	text-transform: uppercase;
	font-size: 90%;
	transition: all 200ms linear;
	letter-spacing: 1px;

	@include mq(bp-m) {
		padding: 1em;
	}
}

.btn-primary {
	color: #fff;
	background-color: $core-colour-a;
	box-shadow: 2px 2px 4px #bbb;

	&:hover,
	&:focus {
		color: #fff;
		background-color: $body-font-colour;
	}

	&[disabled="disabled"] {
		opacity: 0.5;
	}
}

.btn-primary-on-hover {
	padding: 0.5em 1em;
	transition: all 150ms linear;
	display: inline-block;
	box-shadow: 2px 2px 4px transparent;
	letter-spacing: 1px;

	// Remove transitions for touch devices
	.is-touch & {
		transition: none !important;
	}

	.is-touch &,
	&:hover,
	a:hover & {
		color: #fff;
		background-color: $core-colour-a;
		box-shadow: 2px 2px 4px #bbb;
	}
}

/** Next/prev navigation buttons **/
#prev,
#next,
.slick-prev,
.slick-next {
	width: 15px;
	height: 34px;
	position: relative;

	@include mq(bp-s) {
		top: calc(50% - 16px);
		position: absolute;
	}

	@include mq(bp-l) {
		width: 28px;
		height: 48px;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 3px;
		height: 21px;
		right: 6px;
		background: $core-colour-a;
		transition: background-color 200ms linear;

		@include mq(bp-l) {
			width: 5px;
			height: 30px;
			right: 11px;
		}
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&:hover {
		&::before,
		&::after {
			background-color: $body-font-colour;
		}
	}
}

#prev,
.slick-prev {
	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

#prev {
	position: absolute;
	top: 1em;
}

#next,
.slick-next {
	position: absolute;
	right: 1em;
	top: 1em;

	&::before {
		transform: rotate(-45deg);
	}

	&::after {
		transform: rotate(45deg);
	}
}

.slick-prev,
.slick-next {
	position: absolute;
	visibility: hidden;
	transition: opacity 350ms;

	@include mq(bp-xs) {
		visibility: visible;
	}
}

.slick-disabled {
	opacity: 0;
	cursor: default;
}

.panel1.btn {
	width: 15em;

	// Remove transitions for touch devices
	.is-touch & {
		transition: none !important;
	}
}
