/* ----------
Cedar DCX
- Core SCSS
---------- */

html {
	/* Example of postCSS responsive text, delete/update as appropriate [https://www.npmjs.com/package/postcss-responsive-type] */
	font-size: responsive 1em 1.25em;
	font-range: 32em 81.25em;
}

body {
	font-family: $fallback-font;
	font-size: 85%;
	color: $body-font-colour;
	min-width: 320px;
	backface-visibility: hidden;
	background-color: $grey1;
}

section {
	padding: 2em 0;
	margin-bottom: 1em;
	overflow: hidden;
}

ul,
ol {
	padding-left: 0;
}

.cms {
	li {
		padding: 0 0 0 0.5em;
		margin: 0 0 1em 1em;
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}
}

.container {
	margin: 0 auto;
	max-width: 1366px;
	padding-left: 1em;
	padding-right: 1em;
}

.tab {
	padding: 1.5em;
	margin: 0 auto;

	@include mq(bp-s) {
		width: 86%;
		margin: -4em auto 0 auto;
		background-color: #fff;
		max-width: 1366px;
	}

	@include mq(bp-m) {
		margin: -5.2em auto 0 auto;
	}

	.logo-wrapper {
		height: 80px;
	}

	.logo {
		display: block;
		max-width: 250px;
		max-height: 80px;
		margin: auto;
	}
}

.img-container {
	max-height: 700px;

	&.desktop {
		& > div {
			max-height: 700px;
			background-size: 100% auto;
		}
	}

	&.mobile {
		.ratio {
			background-size: 100% auto;
		}
	}
}

figure {
	img {
		width: 100%;
		height: auto;
	}
}

.desktop {
	display: none;

	@include mq(bp-s) {
		display: block;
	}
}

.mobile {
	@include mq(bp-s) {
		display: none;
	}
}

.page-wrapper {
	background-color: #fff;
	max-width: 2000px;
	margin: 0 auto;
}

hr {
	color: $grey1;
	background-color: $grey1;
	height: 1em;
	border: none;
	margin: 0;
}

a {
	color: $core-colour-a;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $core-colour-c;
	}

	&:hover,
	&:focus,
	&:active {
		outline: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $body-font-colour;
	line-height: 110%;
	text-align: center;
	margin: 0 0 0.5em;
	font-weight: normal;
}

h1,
h2 {
	font-size: 280%;

	@include mq(bp-m) {
		font-size: 350%;
	}
}

.subhead {
	font-size: 140%;
	margin-bottom: 0;
	margin-top: -0.5em;

	@include mq(bp-m) {
		margin-top: -0.75em;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1em;
	color: $body-font-colour;
	line-height: 150%;
}

em {
	font-style: italic;
}

small {
	font-size: 80%;
}

blockquote {
	color: $body-font-colour;
	font-size: 170%;
	line-height: 130%;
	text-align: center;

	@include mq(bp-s) {
		font-size: 190%;
		padding: 0 1.5em;
	}

	footer {
		font-style: normal;
		font-size: 80%;
		color: $grey5;
		padding-top: 0.5em;

		@include mq(bp-s) {
			font-size: 70%;
		}
	}
}

sup {
	vertical-align: super;
	font-size: 65%;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	top: -0.2em;
}

sub {
	vertical-align: sub;
	font-size: 65%;
	padding-left: 1px;
	padding-right: 1px;
	bottom: -0.2em;
}

.stat {
	display: block;
	font-size: 350%;
	letter-spacing: -2px;
	line-height: 90%;

	@include mq(bp-m) {
		font-size: 600%;
		letter-spacing: -4px;
	}

	&.desc {
		font-size: 300%;
		letter-spacing: normal;
		margin-bottom: 0.3em;
	}
}

.mob-pad {
	@include mq($until: bp-m) {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

.col2 {
	.col {
		width: 100%;

		@include mq(bp-s) {
			width: 50%;
		}
	}
}

.col2m {
	.col {
		width: 100%;

		&:first-child p:last-child {
			margin-bottom: 3em;
		}

		@include mq(bp-m) {
			width: 50%;

			&:first-child {
				padding-right: 1em;
			}

			&:nth-child(2) {
				padding-left: 1em;
			}
		}
	}

	img {
		max-width: 280px;
		display: block;
		margin: 0 auto;

		@include mq(bp-m) {
			max-width: 100%;
		}
	}
}

.col3 {
	.col {
		width: 100%;

		@include mq(bp-s) {
			width: 50%;
		}

		@include mq(bp-l) {
			width: 33.3%;
		}
	}
}

.col3sm {
	flex-direction: column;

	@include mq(bp-m) {
		flex-direction: row;
	}

	.col {
		width: 100%;

		@include mq(bp-m) {
			width: 33.3%;
		}
	}
}

.col4 {
	.col {
		width: 50%;

		@include mq(bp-s) {
			width: 33.3%;
		}

		@include mq(bp-l) {
			width: 25%;
		}
	}
}

.col4sm {
	.col {
		width: 100%;

		@include mq(bp-s) {
			width: 33.3%;
		}

		@include mq(bp-m) {
			width: 25%;
		}
	}
}

.col4md {
	.col {
		width: 100%;

		@include mq(bp-xs) {
			width: 50%;
		}

		@include mq(bp-m) {
			width: 33.3%;
		}

		@include mq(bp-l) {
			width: 25%;
		}
	}
}

.col4-one-row {
	.col {
		width: 100%;

		@include mq(bp-xs) {
			width: 50%;
		}

		@include mq(bp-l) {
			width: 25%;
		}
	}
}

.col5 {
	.col {
		width: 33.3%;

		@include mq(bp-xs) {
			width: 25%;
		}

		@include mq(bp-l) {
			width: 20%;
		}
	}
}

.gray-to-colour {
	filter: grayscale(100%);
	transition: filter 0.2s linear 0s;

	&:hover {
		filter: grayscale(0);
	}
}

.news-strip {
	background-color: $core-colour-a;
	color: #fff;
	transition: background-color 200ms linear;

	&:hover,
	&:focus {
		color: #fff;
		background-color: $body-font-colour;
	}
}

address {
	font-style: normal;
}

.share {
	.social {
		li:not(:last-child) {
			padding-right: 1em;
		}

		a {
			width: 36px;
			height: 36px;
			background-size: 20px auto;
		}
	}

	@include mq(bp-s) {
		.social {
			li:not(:last-child) {
				padding-right: 0.6em;
			}
		}
	}
}

.credits {
	border-bottom: 1px solid $grey2;
	text-align: center;

	li {
		padding-left: 0.5em;
	}

	@include mq(bp-s) {
		text-align: left;
	}
}

.tags {
	text-align: center;
	flex-direction: column;

	ul {
		display: block;
		margin-left: -1em;

		@include mq(bp-s) {
			margin-left: 0;
			display: inline-block;
		}
	}

	li {
		padding-left: 1em;
	}

	@include mq(bp-s) {
		text-align: left;
		flex-direction: row;
	}
}

.tag {
	display: inline-block;
	margin-bottom: 1em;
	padding: 0.5em 2em;
	border-radius: 50px;
	box-shadow: 0 3px 2px 0 $grey2;
	transition: all 200ms;
	background-color: #fff;

	&:hover {
		background-color: $tag-color;
		color: #fff;
	}
}

.social a {
	transition: transform 100ms;
	backface-visibility: hidden;

	&:hover,
	&:focus {
		transform: scale(1.2);
	}
}

.animate li a {
	animation-name: pulse;
	animation-duration: 300ms;
}

.animate li:first-child a {
	animation-delay: 200ms;
}

.animate li:nth-child(2) a {
	animation-delay: 350ms;
}

.animate li:nth-child(3) a {
	animation-delay: 600ms;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@include mq($until: bp-s) {
	.mobile-limit {
		li:not(:nth-of-type(-n + 4)) {
			display: none;
		}
	}
}

.img-wrapper-16-9,
.img-wrapper-62-25,
.img-wrapper-square {
	position: relative;
	width: 100%;
	margin: auto;

	img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
	}

	&::after {
		content: "";
		display: block;
		height: 0;
	}
}

.img-wrapper-square {
	max-width: 250px;
	max-height: 250px;
	z-index: 2;

	img {
		z-index: 1;
	}

	&::after {
		padding-top: 100%;
	}

	.img-zoom {
		z-index: 1;
		padding-top: 100%;
	}
}

.img-wrapper-16-9 {
	&::after,
	.img-zoom {
		padding-top: 56.25%;
	}
}

.img-wrapper-62-25 {
	&::after {
		padding-top: 40.32%;
	}
}

.headings-small {
	h2 {
		font-size: 115%;
		font-weight: bold;
	}
}

.partners {
	img {
		margin: auto;
		height: 90px;
		width: auto;
	}
}

.headline-text-small h1 {
	font-size: 220%;
	padding: 0.25em 0 0.66em;
}

.responsive-embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
