/* ----------
Cedar DCX
- Webfonts SCSS
---------- */

/*
Remember to also add all custom fonts to:
- js > modules > font-loading.js
- scss > _variables.scss
*/

@font-face {
	font-family: "universboldcondensed";
	src: url("/fonts/UniversBoldCond.eot");
	src: url("/fonts/UniversBoldCond.woff2") format("woff2"),
		url("/fonts/UniversBoldCond.woff") format("woff"),
		url("/fonts/UniversBoldCond.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "universcondensed";
	src: url("/fonts/UniversCondensed.eot");
	src: url("/fonts/UniversCondensed.woff2") format("woff2"),
		url("/fonts/UniversCondensed.woff") format("woff"),
		url("/fonts/UniversCondensed.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "universcondensedoblique";
	src: url("/fonts/UniversCondensedObl.eot");
	src: url("/fonts/UniversCondensedObl.woff2") format("woff2"),
		url("/fonts/UniversCondensedObl.woff") format("woff"),
		url("/fonts/UniversCondensedObl.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.webfont-primary {
	.primary-font,
	h1,
	h2,
	.top-bar,
	.btn,
	.news-strip,
	.inline-form,
	.contact-form {
		font-family: $site-primary-font;
	}
}

.webfont-secondary {
	h3:not(.default-font),
	.webfont-secondary,
	.home-banner span,
	.col2-text h2,
	blockquote footer {
		font-family: $site-secondary-font;
		font-weight: normal;
	}
}

.webfont-tertiary {
	blockquote {
		font-family: $site-tertiary-font;
	}
}
