/* ----------
Cedar DCX
- Forms SCSS
---------- */

textarea,
input,
select {
	outline: none;
}

input,
textarea {
	/* stylelint-disable property-no-vendor-prefix */
	/* Remove iOS form field appearance */
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	/* stylelint-enable property-no-vendor-prefix */
}