/* ----------
Cedar DCX
- Helpers SCSS
---------- */

.max1000 {
	max-width: 1000px !important;
}

.max650 {
	max-width: 650px;
}

.col2-text {
	h2 {
		font-size: 220%;

		@include mq(bp-m) {
			font-size: 350%;
		}
	}
	p {
		font-size: 105%;
	}
}

.text-left {
	text-align: left;

	* {
		text-align: left;
	}
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-upper {
	text-transform: uppercase;
}

.clear {
	clear: both;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.posrel {
	position: relative;
}

.posabsolute {
	position: absolute !important;
}

.text-indent {
	text-indent: -9999px;
}

.text-left,
.text-right,
.text-center {
	img {
		display: inline;
	}
}

.font80 {
	font-size: 80%;
}

.font90 {
	font-size: 90%;
}

.font100 {
	font-size: 100%;
}

.font110 {
	font-size: 110%;
}

.font140 {
	font-size: 140%;
}

.font180 {
	font-size: 180%;
}

.valign {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.img-left {
	float: left;
	padding-right: 30px;
	padding-bottom: 20px;
}

.img-right {
	float: right;
	padding-left: 30px;
	padding-bottom: 20px;
}

.ratio {
	padding-top: 56.25%;
}

.ratio-square {
	padding-top: 100%;
}

.img-wrap {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top;
}

.letter-spacing {
	letter-spacing: 1px;
}

.no-pad {
	padding: 0;
}

.no-side-pad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-top-pad {
	padding-top: 0;
}

.no-bot-pad {
	padding-bottom: 0;
}

.padtop05 {
	padding-top: 0.5em !important;
}

.padbot04 {
	padding-bottom: 0.4em;
}

.padbot05 {
	padding-bottom: 0.5em;
}

.padleft05 {
	padding-left: 0.5em;
}

.padright05 {
	padding-right: 0.5em;
}

.pad05 {
	padding: 0.5em;
}

.pad1 {
	padding: 1em;
}

.padtop1 {
	padding-top: 1em;
}

.padbot1 {
	padding-bottom: 1em;
}

.padleft1 {
	padding-left: 1em;
}

.padright1 {
	padding-right: 1em;
}

.padtop2 {
	padding-top: 2em;
}

.padbot2 {
	padding-bottom: 2em;
}

.padleft2 {
	padding-left: 2em;
}

.padright2 {
	padding-right: 2em;
}

.padtop3 {
	padding-top: 3em;
}

.padbot3 {
	padding-bottom: 3em;
}

.padtop4 {
	padding-top: 4em;
}

.padbot4 {
	padding-bottom: 4em;
}

.padtop5 {
	padding-top: 5em;
}

.padbot5 {
	padding-bottom: 5em;
}

.wide-pad {
	padding-left: 1em;
	padding-right: 1em;

	@include mq(bp-s) {
		padding-left: 15%;
		padding-right: 15%;
	}

	@include mq(bp-l) {
		padding-left: 20%;
		padding-right: 20%;
	}

	@include mq(bp-xl) {
		padding-left: 25%;
		padding-right: 25%;
	}

	@include mq(bp-xxl) {
		padding-left: 28%;
		padding-right: 28%;
	}
}

.margin-auto {
	margin: auto;
}

.no-mar {
	margin: 0;
}

.margintop0 {
	margin-top: 0;
}

.marginbot0 {
	margin-bottom: 0;
}

.margintop0-5 {
	margin-top: 0.5em;
}

.marginbot0-5 {
	margin-bottom: 0.5em;
}

.marginbot1 {
	margin-bottom: 1em;
}

.margintop1 {
	margin-top: 1em;
}

.margintop1-5 {
	margin-top: 1.5em;
}

.marginbot1-5 {
	margin-bottom: 1.5em;
}

.margintop2 {
	margin-top: 2em;
}

.marginbot2 {
	margin-bottom: 2em;
}

.sidemargin-neg1 {
	margin: 0 -1em;
}

.mobpad5-0 {
	@include mq($until: bp-m) {
		padding-top: 5em;
		padding-bottom: 5em;
	}
}

.fullwidth-img {
	width: 100%;
	height: auto;
	display: block;
}

.flex {
	display: flex;
}

.frow {
	flex-direction: row;
}

.fwrap {
	flex-wrap: wrap;
}

.fcol {
	flex-direction: column;
}

.falgncntr {
	align-items: center;
}

.falgnselfcntr {
	align-self: center;
}

.falgnstart {
	align-content: flex-start;
}

.fjustcntr {
	justify-content: center;
}

.fjustfend {
	justify-content: flex-end;
}

.fgrow1 {
	flex-grow: 1;
}

.hide {
	display: none !important;
}

.box-size {
	box-sizing: border-box;
}

.oflow-hidden {
	overflow: hidden;
}

.circle {
	border-radius: 100%;
}

.white {
	* {
		color: #fff;
	}

	a {
		&:hover {
			color: #fff;
		}
	}
}

.grey {
	* {
		color: $body-font-colour;
	}

	a {
		&:hover {
			color: $body-font-colour;
		}
	}
}

.white,
.grey {
	a {
		text-decoration: underline;

		&:hover {
			opacity: 0.7;
		}
	}
}

/* Red */
.colour-a {
	color: $core-colour-a;
}

// /* Dark Red */
// .colour-b {
// 	color: $core-colour-b;
// }

/* Dark Blue */
.colour-c {
	color: $core-colour-c;
}

/* Orange */
.colour-d {
	color: $core-colour-d;
}

/* Light Blue */
.colour-g {
	color: $core-colour-g;
}

/* Grey */
.colour-grey {
	color: $grey1;
}

.black {
	color: #000;
}

.colour-lgrey {
	color: $grey5;
}

/* Grey */
.bg-grey {
	background-color: $grey1;
}

.bg-white {
	background-color: #fff;
}

.bg-a {
	background-color: $core-colour-a;
}

.bg-e {
	background-color: $core-colour-e;
}

.bg-f {
	background-color: $core-colour-f;
}

.cedar-logo {
	background: url("/images/cedar-logo.svg") no-repeat 0.3em center #fff;
	background-size: 84px 24px;
	background-position: center;

	&-white {
		background-image: url("/images/cedar-logo-white.svg");
		background-repeat: no-repeat;
		background-size: 50px auto;

		@include mq(bp-m) {
			background-size: 100px auto;
		}
	}
}

.facebook-logo {
	background: url("/images/facebook-logo.svg") no-repeat center #3c5a99;
}

.twitter-logo {
	background: url("/images/twitter-logo.svg") no-repeat center #55acee;
}

.linkedin-logo {
	background: url("/images/linkedin-logo.svg") no-repeat center #127bb6;
}

.youtube-logo {
	background: url("/images/youtube-logo.svg") no-repeat center #e62117;
}

.email {
	background: url("/images/email.svg") no-repeat center $core-colour-a;
}

.mobile-border {
	@include mq($until: bp-m) {
		border-bottom: 1px solid $grey1;
	}
}

.button-reset {
	background: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;

	/* stylelint-disable property-no-vendor-prefix, declaration-block-no-duplicate-properties */
	/* Remove tap highlight */
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	/* stylelint-enable property-no-vendor-prefix, declaration-block-no-duplicate-properties  */
	outline: none;
}

.width-auto {
	width: auto;
}

.width-50 {
	width: 50%;
}

.width-100 {
	width: 100%;
}

.height-100 {
	height: 100%;
}

.shadow {
	box-shadow: 2px 2px 4px #bbb;
}

.no-shadow {
	box-shadow: none;
}

.mobile-only {
	@include mq(bp-s) {
		display: none;
	}
}

.grey-rollover {
	&::before,
	&::after {
		transition: background-color 200ms linear;
	}

	&:hover,
	&:focus {
		&::before,
		&::after {
			background-color: $body-font-colour !important;
		}
	}
}

.transition {
	transition: all 300ms;
}

.opacity1 {
	opacity: 1;
}

.opacity0 {
	opacity: 0 !important;
}

.display-table {
	display: table;
}

.display-tcell {
	display: table-cell;
}

.valign-mid {
	vertical-align: middle;
}

.no-bullets {
	li {
		list-style-type: none;
		padding: 0;
		margin: 0 0 1em;
	}
}
