<ul class="no-pad flex frow fwrap fjustcntr mobile-limit">
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font ">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">British Society of Magazine Editors</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Columnist of the year, special interest and brand</div>
			<div class="colour-g font110 padbot04 block fgrow1">British Airways &ndash; Business Life</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">LSL <br>Property Press</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Periodical property consumer writer of the year</div>
			<div class="colour-g font110 padbot04 block fgrow1">CLEA &ndash; The London Magazine</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">International Business Awards</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Stevie award</div>
			<div class="colour-g font110 padbot04 block fgrow1">ISG</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">British Society of Magazine Editors</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Columnist of the year, special interest and brand</div>
			<div class="colour-g font110 padbot04 block fgrow1">British Airways &ndash; Business Life</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">British Society of Magazine Editors</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Columnist of the year, special interest and brand</div>
			<div class="colour-g font110 padbot04 block fgrow1">British Airways &ndash; Business Life</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">LSL <br>Property Press</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Periodical property consumer writer of the year</div>
			<div class="colour-g font110 padbot04 block fgrow1">CLEA &ndash; The London Magazine</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">International Business Awards</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Stevie award</div>
			<div class="colour-g font110 padbot04 block fgrow1">ISG</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
	<li class="col flex fcol falgncntr box-size padleft05 padright05 padbot2 padtop1">
		<a href="#a" class="text-center flex fcol fgrow1 width-100 primary-font">
			<div class="lbl-name flex falgncntr">
				<h3 class="text-upper default-font posrel colour-c">British Society of Magazine Editors</h3>
			</div>
			<div class="lbl-desc text-upper width-100 colour-c">Columnist of the year, special interest and brand</div>
			<div class="colour-g font110 padbot04 block fgrow1">British Airways &ndash; Business Life</div>
			<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
		</a>
	</li>
</ul>