<section class="no-pad no-mar">
	<div class="img-container oflow-hidden desktop">
		<div style="background-image:url(/images/woman-holding-snowglobe.jpg)">
			<div class="ratio"></div>
		</div>
	</div>
	<div class="img-container mobile">
		<div style="background-image:url(/images/woman-holding-snowglobe-mobile.jpg)" class="ratio"></div>
	</div>
	<div class="tab posrel box-size">
		<div class="container max1000 no-side-pad cms">
			<h1>{{title}}</h1>
			<p class="subhead text-center primary-font">Vestibulum ullamcorper lobortis</p>
		</div>
	</div>
</section>
<section class="no-top-pad no-pad">
	<div class="container max1000">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae risus sem. Donec sodales in lorem in hendrerit. Proin
			sodales lacinia dui, ac blandit lorem lobortis ac. Nam ullamcorper, dolor at eleifend convallis, augue augue auctor ligula,
			quis vulputate lorem est quis enim. Duis orci nisl, faucibus eu elementum vel, aliquam aliquet arcu. Donec fringilla elementum
			rutrum. Cras rhoncus, sapien non mattis pretium, elit turpis lobortis ligula, sed molestie felis ligula sit amet enim.
			Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
	</div>
</section>