<div class="img-container oflow-hidden desktop">
	<div style="background-image:url(/images/woman-holding-snowglobe.jpg)">
		<div class="ratio"></div>
	</div>
</div>
<div class="img-container mobile">
	<div style="background-image:url(/images/woman-holding-snowglobe-mobile.jpg)" class="ratio"></div>
</div>
<div class="tab posrel box-size">
	<div class="container max1000 no-side-pad">
		<div class="logo-wrapper display-table marginbot1 width-100">
			<div class="display-tcell valign-mid">
				{{#if clea}}
				<img class="logo" src="/images/logo-clea.png" alt="CLEA"> {{else}}
				<img class="logo" src="/images/logo-cedar-dcx.png" alt="Cedar DCX"> {{/if}}
			</div>
		</div>
		<h1>{{shortTitle}}</h1>
		{{#if clea}}
		<p class="subhead text-center primary-font">{{subTitle}}</p>
		{{/if}}
	</div>
</div>