<div class="extra-pad">
	<h2>Get in touch</h2>
	<p>Our new business team will help with any queries</p>
	<button class="button-reset btn btn-primary panel1 margintop2" id="message-btn">Send Cedar a message</button>

	<div id="contact-wrapper" class="accordion panel2 padright2 padleft2 box-size height-100 flex fcol fjustcntr">
		<form action="#a" id="contact-form" class="contact-form flex frow fwrap">
			<label class="box-size">
				<input name="name" type="text" placeholder="Name" required class="box-size">
			</label>
			<label class="box-size">
				<input name="job-title" type="text" placeholder="Job title" required class="box-size">
			</label>
			<label>
				<input name="email" type="email" placeholder="Email" required class="box-size">
			</label>
			<label>
				<textarea name="message" placeholder="Message" required class="box-size"></textarea>
			</label>
			<input id="message-submit" type="submit" value="send" class="button-reset btn btn-primary">
			<span id="contact-form-error" class="hide">There was an error sending your message. Please try again.</span>
		</form>
	</div>
</div>
<div class="panel3 opacity0 posabsolute padright2 padleft2 box-size height-100 flex fcol fjustcntr">
	<h2>Thanks for your message</h2>
	<p class="font180">We'll get back to you as soon as we can</p>
</div>