<div id="footer-newsletter-form" class="panel1">
	<h2>Sign up</h2>
	<p class="font110 marginbot2">Enter your email to receive our monthly newsletter</p>
	<form action="http://cedarcommunicationsltd.createsend.com/t/j/s/tjhukk/" class="inline-form shadow" id="newsletter-signup">
		<label class="flex fgrow1"><input id="fieldEmail" type="email" placeholder="email" required></label>
		<input type="submit" value="sign up" class="button-reset btn btn-primary" id="footer-newsletter-submit">
	</form>
</div>
<div id="footer-newsletter-fb" class="panel2 opacity0 posabsolute padright2 padleft2 box-size height-100 flex fcol fjustcntr">
	<h2>You're signed up!</h2>
	<p class="font180 no-mar">Thanks &ndash; you'll receive our next email newsletter</p>
</div>