<section class="container text-center bg-grey footer-cta cta-social">
	<h2>More from Cedar</h2>
	<ul class="social no-pad no-mar flex fjustcntr padtop05">
		<li><a href="https://twitter.com/cedarcontent" target="_blank" class="twitter-logo text-indent block circle" data-event-category="Social follow" data-event-action="Twitter">Twitter</a></li>
		<li><a href="https://www.linkedin.com/company/cedar-communications" target="_blank" class="linkedin-logo text-indent block circle" data-event-category="Social follow" data-event-action="LinkedIn">LinkedIn</a></li>
		<li><a href="https://www.youtube.com/user/CedarContent" target="_blank" class="youtube-logo text-indent block circle" data-event-category="Social follow" data-event-action="YouTube">YouTube</a></li>
	</ul>
</section>