<footer>
	<div class="logo-strip cedar-logo"></div>

	<div class="footer-contact bg-e">
		<div class="container col4sm padtop1 flex frow fwrap max1000">
			<div class="col padbot1 box-size">
				<span class="follow"><strong>Follow us</strong></span>
				<ul class="social no-pad no-mar flex">
					<li><a href="https://twitter.com/cedarcontent" target="_blank" class="twitter-logo text-indent block circle" data-event-category="Social follow" data-event-action="Twitter" data-event-label="Footer">Twitter</a></li>
					<li><a href="https://www.linkedin.com/company/cedar-communications" target="_blank" class="linkedin-logo text-indent block circle" data-event-category="Social follow" data-event-action="LinkedIn" data-event-label="Footer">LinkedIn</a></li>
					<li><a href="https://www.youtube.com/user/CedarContent" target="_blank" class="youtube-logo text-indent block circle" data-event-category="Social follow" data-event-action="YouTube" data-event-label="Footer">YouTube</a></li>
				</ul>
			</div>
			<address class="col padbot1 posrel opened box-size flex fcol">
				<span class="accordion" data-accordion="footer"><strong>London</strong></span>
				<div class="wrap oflow-hidden flex fcol fgrow1">
					<p class="address no-mar fgrow1">6th floor<br>85 Strand<br>London<br>WC2R 0DW</p>
					<p class="no-mar map"><a href="https://goo.gl/maps/x6tnR5edvsk" target="_blank" class="text-upper" data-event-category="Map" data-event-action="London" data-event-label="Footer">Map</a></p>
					<p class="no-mar"><a href="tel:00442075508000">+44 (0)20 7550 8000</a></p>
				</div>
			</address>
			<address class="col padbot1 posrel box-size flex fcol">
				<span class="accordion" data-accordion="footer"><strong>Hong Kong</strong></span>
				<div class="wrap oflow-hidden flex fcol fgrow1">
					<p class="address no-mar fgrow1">16/F Cambridge House<br>Taikoo Place<br>979 King's Road<br>Quarry Bay<br>Hong Kong</p>
					<p class="no-mar map"><a href="https://goo.gl/maps/y3H4fHiSr4J2" target="_blank" class="text-upper" data-event-category="Map" data-event-action="Hong Kong" data-event-label="Footer">Map</a></p>
					<p class="no-mar"><a href="tel:0085228339873">+852 2833 9873</a></p>
				</div>
			</address>
			<address class="col padbot1 posrel box-size flex fcol">
				<span class="accordion" data-accordion="footer"><strong>Cape Town</strong></span>
				<div class="wrap oflow-hidden flex fcol fgrow1">
					<p class="address no-mar fgrow1">27th Floor<br>ABSA Building<br>4 Adderley Street<br>Cape Town<br>8001</p>
					<p class="no-mar map"><a href="https://goo.gl/maps/enALWvKX2zG2" target="_blank" class="text-upper" data-event-category="Map" data-event-action="Cape Town" data-event-label="Footer">Map</a></p>
					<p class="no-mar"><a href="tel:00270214081257">+27 (0)21 408 1257</a></p>
				</div>
			</address>
		</div>
	</div>

	<nav class="bg-f">
		<ul class="container max1000 no-pad padleft15 padright1 hygiene text-center">
			<li class="inline-block padright1 marginbot1"><a href="#a">CSR / Community</a></li>
			<li class="inline-block padleft1 padright1"><a href="#a">Privacy</a></li>
			<li class="inline-block padleft1 padright1"><a href="#a">Join Us</a></li>
			<li class="inline-block padleft1 padright1"><a href="#a">T&amp;Cs</a></li>
			<li class="inline-block padleft1 padright1"><a href="#a" target="_blank">Omnicom</a></li>
			<li class="inline-block padleft1 padright1"><a href="#a" target="_blank">Etc</a></li>
			<li class="inline-block padleft1 padright1"><a href="#a" target="_blank">Etc</a></li>
		</ul>
	</nav>
	
	<ul class="container max1000 hygiene pad1 text-center small">
		<li class="inline-block padright1">&copy; 2016 Cedar Communications Ltd</li>
		<li class="inline-block padleft1 padright1"><a href="#a">Terms &amp; conditions</a></li>
		<li class="inline-block padleft1 padright1">Site by Cedar DCX</li>
	</ul>
</footer>