<header>
	<div id="overlay-bg"></div>
	<div id="top-bar" class="top-bar flex frow no-pad">
		<a href="/" class="cedar-logo mobile-border block text-indent" data-event-category="Cedar logo" data-event-action="Logo clicked">Cedar Homepage</a>
		<div id="loc-wrap" class="loc-wrap flex fgrow1">
			<button id="loc-btn" class="button-reset fgrow1 text-center block">Hong Kong</button>
			<nav id="loc-nav" class="flex">
				<ul class="flex frow no-pad no-mar">
					<li><a href="#a" class="text-center block">London</a></li>
					<li><a href="#a" class="text-center block">Cape Town</a></li>
					<li><a href="#a" class="text-center block">Hong Kong<br>(English)</a></li>
					<li><a href="#a" class="text-center block">Hong Kong<br>(中文)</a></li>
				</ul>
			</nav>
		</div>
		<nav id="main-nav" class="flex">
			<ul class="flex frow no-pad no-mar">
				<li><a href="/services" class="text-center block on">Services</a></li>
				<li><a href="/work" class="text-center block">Work</a></li>
				<li><a href="/news-views" class="text-center block">News &amp; Views</a></li>
				<li><a href="/about" class="text-center block">About</a></li>
				<li><a href="/contact" class="text-center block">Contact</a></li>
				<li><a href="/join" class="text-center block">Join</a></li>
				<li><button id="menu-btn" class="button-reset text-center block">Menu <span></span></button></li>
			</ul>
		</nav>
		<button id="follow-btn" class="button-reset text-center block">Follow</button>
		<div id="follow" class="text-center padtop1 padbot2">
			<div class="flex fcol">
				<p>More from Cedar</p>
				<ul id="animate-social" class="social no-pad no-mar flex frow fjustcntr">
					<li><a href="https://twitter.com/cedarcontent" data-event-category="Social follow" data-event-action="Twitter" data-event-label="Header" target="_blank" class="twitter-logo text-indent block circle">Twitter</a></li>
					<li><a href="https://www.linkedin.com/company/cedar-communications" data-event-category="Social follow" data-event-action="LinkedIn" data-event-label="Header" target="_blank" class="linkedin-logo text-indent block circle">LinkedIn</a></li>
					<li><a href="https://www.youtube.com/user/CedarContent" data-event-category="Social follow" data-event-action="YouTube" data-event-label="Header" target="_blank" class="youtube-logo text-indent block circle">YouTube</a></li>
				</ul>
				<div id="feedback" class="hide">You're signed up! <span>Thanks &ndash; you'll receive our next email newsletter</span></div>
				{{!-- <form action="http://cedarcommunicationsltd.createsend.com/t/j/s/tjhukk/" class="padtop2" id="nav-form" data-error="There was a problem adding your details. Please try again.">
					<label for="newsletter">Enter your email to receive our monthly newsletter</label>
					<input type="email" id="newsletter" name="newsletter" placeholder="Enter your email to receive our monthly newsletter" required>
					<input type="submit" id="nav-submit" value="Submit" class="button-reset btn btn-primary no-shadow">
				</form> --}}
			</div>
			<div class="nav-shadow"></div>
		</div>
		<div id="mob-close" class="mob-close bg-b">
			<button id="close-btn" class="button-reset grey-rollover">close</button>
		</div>
	</div>
</header>