<ul class="no-pad flex frow fwrap fjustcntr col5">
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-paxlife.png" srcset="/images/logo-paxlife-x2.png 2x" alt="Paxlife">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-ba.png" srcset="/images/logo-ba-x2.png 2x" alt="British Airways">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-tesco.png" srcset="/images/logo-tesco-x2.png 2x" alt="Tesco">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-molex.png" srcset="/images/logo-molex-x2.png 2x" alt="Molex">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-binding-site.png" srcset="/images/logo-binding-site-x2.png 2x" alt="Binding Site">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-duhnhumby.png" srcset="/images/logo-duhnhumby-x2.png 2x" alt="Duhnhumby">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-isg.png" srcset="/images/logo-isg-x2.png 2x" alt="ISG">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-tso.png" srcset="/images/logo-tso-x2.png 2x" alt="TSO">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-the-london-magazine.png" srcset="/images/logo-the-london-magazine-x2.png 2x" alt="The London Magazine">
		</a>
	</li>
	<li class="col flex fcol fjustcntr box-size">
		<a href="#a" class="gray-to-colour">
			<img src="/images/logo-danone.png" srcset="/images/logo-danone-x2.png 2x" alt="Danone">
		</a>
	</li>
</ul>