<ul class="col4-one-row no-pad flex media-list articles-list frow fwrap fjustcntr margintop1-5 margin-auto">
	<li class="col flex box-size padleft05 padright05 marginbot1">
		<a href="#" class="flex fcol" target="_blank">
			<div class="img-wrapper-62-25 oflow-hidden">
				<img alt="The Guardian" src="/images/logo-the-guardian.png"/>
			</div>
			<div class="padleft1 padright1 padbot1 flex fgrow1 fcol">
				<span class="colour-d text-upper primary-font text-center font80 letter-spacing block padbot05">Lorem ipsum dolor</span>
				<p class="fgrow1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in iaculis turpis, nec porta ex. Ut in iaculis turpis, nec porta ex.</p>
				<div class="btn-more text-center">
					<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
				</div>
			</div>
		</a>
	</li>
	<li class="col flex box-size padleft05 articles-list padright05 marginbot1">
		<a href="#" class="flex fcol" target="_blank">
			<div class="img-wrapper-62-25 oflow-hidden">
				<img alt="The Sunday Times" src="/images/logo-the-sunday-times.png"/>
			</div>
			<div class="padleft1 padright1 padbot1 flex fgrow1 fcol">
				<span class="colour-d text-upper primary-font text-center font80 letter-spacing block padbot05">Lorem ipsum dolor</span>
				<p class="fgrow1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in iaculis turpis, nec porta ex.</p>
				<div class="btn-more text-center">
					<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
				</div>
			</div>
		</a>
	</li>
	<li class="col flex box-size padleft05 articles-list padright05 marginbot1">
		<a href="#" class="flex fcol" target="_blank">
			<div class="img-wrapper-62-25 oflow-hidden">
				<img alt="The Independent" src="/images/logo-the-independent.png"/>
			</div>
			<div class="padleft1 padright1 padbot1 flex fgrow1 fcol">
				<span class="colour-d text-upper primary-font text-center font80 letter-spacing block padbot05">Lorem ipsum dolor</span>
				<p class="fgrow1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in iaculis turpis, nec porta ex.</p>
				<div class="btn-more text-center">
					<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
				</div>
			</div>
		</a>
	</li>
	<li class="col flex box-size padleft05 articles-list padright05 marginbot1">
		<a href="#" class="flex fcol" target="_blank">
			<div class="img-wrapper-62-25 oflow-hidden">
				<img alt="The Liberation" src="/images/logo-liberation.png"/>
			</div>
			<div class="padleft1 padright1 padbot1 flex fgrow1 fcol">
				<span class="colour-d text-upper primary-font text-center font80 letter-spacing block padbot05">Lorem ipsum dolor</span>
				<p class="fgrow1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in iaculis turpis, nec porta ex.</p>
				<div class="btn-more text-center">
					<div class="text-upper btn-primary-on-hover primary-font">Read more</div>
				</div>
			</div>
		</a>
	</li>
</ul>