<div class="tags padtop1 flex">
	<strong class="colour-lgrey inline-block padtop05 padbot1">Tags</strong>
	<ul class="no-pad no-mar inline-block">
		<li class="inline-block"><a href="#a" class="tag">Social</a></li>
		<li class="inline-block"><a href="#a" class="tag">Event</a></li>
		<li class="inline-block"><a href="#a" class="tag">Mobile &amp; Tablet</a></li>
	</ul>
</div>