<div class="credits padbot1 padtop2 font90">
	<strong class="colour-lgrey">Credits</strong>
	<ul class="no-pad no-mar inline">
		<li class="inline"><strong>Mountain Biker:</strong> Ben Bergh, <a href="http://www.benberghphotography.co.za" target="_blank">www.benberghphotography.co.za</a></li>
		<li class="inline"><strong>Eagle shot:</strong> Roy Mangersnes, <a href="http://www.wildphoto.no" target="_blank">www.wildphoto.no</a></li>
		<li class="inline"><strong>Motorcycle image:</strong> Gary Bailey, <a href="http://www.picman.co.uk" target="_blank">www.picman.co.uk</a></li>
		<li class="inline"><strong>Climber:</strong> Rainer Eder, <a href="http://www.rainereder.com" target="_blank">www.rainereder.com</a></li>
		<li class="inline"><strong>Northern Lights:</strong> Dionys Moser, <a href="http://www.fotoreisen.ch" target="_blank">www.fotoreisen.ch</a></li>
	</ul>
</div>