<li class="text-center col box-size flex">
	<a href="#a" class="fgrow1 flex fcol width-100">
		<div class="img-wrapper-16-9 oflow-hidden">
			<div class="img-zoom" style="background-image:url(/images/684x385.png)"></div>
		</div>
		<div class="content box-size flex fcol fgrow1">
			<span class="colour-d text-upper primary-font">London</span>
			<h3>Aliquam et libero quis</h3>
			<p class="width-100 fgrow1">Consectetur adipisicing ellt nlsl Consectetur adipisicing ellt nlsl</p>
			<div class="btn btn-primary-on-hover">Read Story</div>
		</div>
	</a>
</li>
<li class="text-center col box-size flex">
	<a href="#a" class="fgrow1 flex fcol width-100">
		<div class="img-wrapper-16-9 oflow-hidden">
			<div class="img-zoom" style="background-image:url(/images/684x385.png)"></div>
		</div>
		<div class="content box-size flex fcol fgrow1">
			<span class="colour-d text-upper primary-font">London</span>
			<h3>Aliquam et libero quis Aliquam et libero quis</h3>
			<p class="width-100 fgrow1">Consectetur adipisicing ellt nlsl Consectetur adipisicing ellt nlsl</p>
			<div class="btn btn-primary-on-hover">Read Story</div>
		</div>
	</a>
</li>