<div class="share text-center">
	<span class="colour-lgrey">Share this article</span>
	<!--
	NOTE FOR BACK-END DEV
	The links below are examples - these links need to be configured server-side.
	All hrefs and page titles need to be URL-encoded (with the exception of email)

	Facebook
	- https://www.facebook.com/dialog/share?app_id=[Cedar's FB app ID]&display=page&href=[page URL]

	Twitter
	- https://twitter.com/intent/tweet?text=[Page title]&url=[page URL]&via=cedarcontent

	LinkedIn
	- https://www.linkedin.com/shareArticle?mini=true&url=[page URL]&title=[Page title]

	Email
	- Update the URL in the body to be the page URL

	*** IMPORTANT ***
	The data-event-position attribute on the links should be set to "Above" when these buttons are above the article and "Below" for when they are after the article.

	The values have been mixed here for testing purposes - they should all be the same when deployed into the CMS depending on their position on an article page.
	-->
	<ul class="social no-pad no-mar flex fjustcntr padtop05">
		<li><a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=page&href=http%3A%2F%2Fwww.cedarcom.co.uk%2F" target="_blank" class="facebook-logo text-indent block circle" data-event-category="Social share" data-event-action="Facebook" data-event-position="Above">Facebook</a></li>
		<li><a href="https://twitter.com/intent/tweet?text=Cedar%20DCX&url=http%3A%2F%2Fwww.cedarcom.co.uk%2F&via=cedarcontent" target="_blank" class="twitter-logo text-indent block circle" data-event-category="Social share" data-event-action="Twitter" data-event-position="Above">Twitter</a></li>
		<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.cedarcom.co.uk%2F&title=Cedar" target="_blank" class="linkedin-logo text-indent block circle" data-event-category="Social share" data-event-action="LinkedIn" data-event-position="Below">LinkedIn</a></li>
		<li><a href="mailto:?subject=Useful link on Cedar website&body=I found this page on the Cedar website and thought you might find it interesting: http://www.cedarcom.co.uk/" class="email text-indent block circle" data-event-category="Social share" data-event-action="Email" data-event-position="Below">Email</a></li>
	</ul>
</div>