<ul class="flex tweets margin-auto col3sm">
	<li class="flex col fcol box-size">
		<div class="colour-d text-center marginbot0-5 primary-font">6h</div>
 		<p class="fgrow1" data-tweet="text">Maslow and marketing - what is the psychology behind persuasive branding? <a href="#" target="_blank">http://buff.ly/10cn7DI</a> via <a href="#" target="_blank">@HuffingtonPost</a></p>
		<ul class="flex frow width-100">
			<li>
				<a href="https://twitter.com/intent/tweet?in_reply_to=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Reply">Reply</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/retweet?tweet_id=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Retweet">Re-Tweet</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/like?tweet_id=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Like">Like</a>
			</li>
		</ul>
	</li>
	<li class="flex col fcol box-size">
		<div class="colour-d text-center marginbot0-5 primary-font">Dec 17</div>
		<p class="fgrow1" data-tweet="text">Stars Wars fan? Try typing 'a long time ago in a galaxy far, far away' into Google and see what happens... <a href="#" target="_blank">#JustForFun</a></p>
		<ul class="flex frow width-100">
			<li>
				<a href="https://twitter.com/intent/tweet?in_reply_to=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Reply">Reply</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/retweet?tweet_id=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Retweet">Re-Tweet</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/like?tweet_id=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Like">Like</a>
			</li>
		</ul>
	</li>
	<li class="flex col fcol box-size">
		<div class="colour-d text-center marginbot0-5 primary-font">Dec 13</div>
		<p class="fgrow1" data-tweet="text">The lowdown: what were the top brand moments from 2015? <a href="#" target="_blank">http://buff.ly/22a3EY3</a> via <a href="#" target="_blank">@adage</a></p>
		<ul class="flex frow width-100">
			<li>
				<a href="https://twitter.com/intent/tweet?in_reply_to=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Reply">Reply</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/retweet?tweet_id=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Retweet">Re-Tweet</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/like?tweet_id=463440424141459456" class="text-indent block margin-auto" target="_blank" data-event-category="Tweet" data-event-action="Like">Like</a>
			</li>
		</ul>
	</li>
</ul>